body {
    color: #fff;
    background: #263137;
    font-family: 'Bellota', cursive;
  }
h1.ada-h1 {
    text-align: center;
    font-family: 'Bellota', cursive;
    color: #009a8a;
    /* margin: -65px 0 0 0; */
}
.ada-title {
    text-align: center;
}
img.ada-title-img {
    width: 450px;
}
h5.ada-sub-title {
    margin: -20px 0 19px 0;
    color: #f0f0f0;
    font-variant: petite-caps;
    font-size: 25px;
}
.mine-menu {
    text-align: center;
    padding-top:15px;
}
a {
    text-decoration: blink;
    color: #fff;
    border: solid 1px #009a8a;
    padding: 6px 7px;
}
.ada-intro {
    text-align: center;
    padding: 15px 0;
}
i.menu {
    padding: 5px;
    margin: 0;
    font-family: Bellota!important;
    color: #fff;
}
.clearfix.bshadow0.pbs {
    font-size: 40px;
    /* text-align: center; */
    color: #ffeb00d9;
}
i.icons{
  color: #fff;
}
.display-none {
	display: none;
}
.chous {
    cursor: pointer;
	
    font: 12px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    color: #4FD666;
}
.chous:hover {
    color: red;
    background-position: bottom left;
}
xmp {
    font-size: 15px;
    display: contents;
    padding: 0px;
    font-family: none;
    text-align: -webkit-center;
    margin: 0;
    align-content: center;
    color: #fff;
}
hr {
    margin-top: -13px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(249, 246, 246, 0.62);
    padding: 0 68px;
}
img.logo {
    width: 150px;
}
.ada-intro {
    padding: 50px 0 0 0;
}
a.logo {
    text-decoration: none;
    border: none;
}
.row.conten-home {
    text-align: center;
    font-size: 35px;
}
b.conten-home {
    color: #009a8a;
    font-family: 'Bellota', cursive;
}
hr.hr-conten-home {
    margin: 15px;
}
h5.naming {
    font-size: 13px;
    margin: -35px;
}
a.naming{
    text-decoration: none;
    border: none;
    color: #fff;
}
img.bg-col {
    width: 250px;
}
p.ada-p {
    font-size: 15px;
    text-align: left;
    font-family: Arial;
}
a.bt {
  border: none;
padding: initial;
text-decoration: none;
color: #fff;
padding: 0 15px;
/* align-content: center; */
}
.row.serch-icon {
    padding: 29px 0 0;
    list-style-type: none;
}
img.boundaries {
    height: 250px;
}
.col-md-6.boundaries {
    text-align: center;
}

.col-md-12.serch {
    text-align: center;
    padding: 40px;
}
.row.serch-icon {
    text-align: center;
    padding-bottom: 36px;
}
span.red {
    background-color: #ff00006b;
    border-color: #ff00006b;
    border-radius: 50%;
    padding: 4px 6px;
    color: #ff00006b;
    font-size: 5px;
}
span.blue {
    background-color: #0000ff85;
    border-color: #0000ff85;
    border-radius: 50%;
    padding: 4px 6px;
    color: #0000ff85;
    font-size: 5px;
}
span.yellow {
    background-color: #ff9900b8;
    border-color: #ff9900b8;
    border-radius: 50%;
    padding: 4px 6px;
    color: #ff9900b8;
    font-size: 5px;
}
.row.monitor {
    background-color: #343a40;
    border-radius: 5px;
    padding: 5px;
    margin-left: 48px;
    text-align: center;
}
.monitor-code {
    text-align: left;
}
.col-md-6.monitor {

  background-color: #0000008c;
  color: #000;
  text-align: left;
  border-radius: 5px;
  border-color: ;

}
.monitor.title {
    text-align: center;
    margin: -14px 0 0 0;
    border-radius: 5px;
    /* border-color: #fff; */
    padding: 0 0 3px 0;
    color: #fff;
    /* background-color: #ffffffb0; */
}
xmp.head {
    COLOR: #009a8a;
}
xmp.body {
    COLOR: #009a8a;
}
xmp.coment {
    color: #ffffff61;
}
xmp.head-link {
    color: #ff922b;
}
img.cod-img {
    width: 550px;

}
.bottom {
    margin: -50px 0 0 0;
}
.col-md-6.side-dark {
    background-color: #263137;
    padding: 145px;
    text-align: center;
    /* height: 100vh; */
}
.col-md-6.side-white {
    background-color: #fff;
    color: #263137;
    padding: 145px;
    text-align: center;
    /* height: 100vh; */
}
img.side {
    height: 170px;
    padding: 0 0 15px 0;
}
a.img-side {
    border: none;
}
span.mls {
    font-size: 12px;
    margin: 0 -10px;
    font-family: Arial;
    color: #FFF;
    vertical-align: super;
}
h1.font-group {
    text-align: center;
    /* background-color: #009a8a; */
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}
img.admin-icon-blok {
    height: 200px;
    padding: 30px;
}



h1 {
  text-align: center;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    /* border: 2px solid #06D85F; */
    /* border-radius: 20px/50px; */
    /* text-decoration: none; */
    /* cursor: pointer; */
    /* transition: all 0.3s ease-out; */
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #263137;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #FFF;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
    max-height: 100%;
    /* padding: 25px 0 0 0; */
    /* overflow: auto; */
    /* height: 250px; */
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.box1 {
    text-align: center;
}
h3.admin-title {
    padding: 0 0 25px 0;
    text-align: center;
}
input.form-control.article {
    height: 150px;
}
select.select-admin {
    display: block;
    /* width: 35%; */
    padding: .375rem .75rem;
    font-size: 19px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: -19px 0 0 0;
}
a.red {
    color: #fff;
    border: none;
    text-decoration: none;
}
a.IMG-button {
    border: none;
}
h3.des-h3 {
    text-align: center;
}
img.ada-des-img {
    height: 150px;
}
.col-md-4.des {
    text-align: center;
}
b.version {
    padding: 5px 8px;
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    font-size: 15px;
    vertical-align: super;
    font-family: Arial;
    color: #009a8a;
}
#dropZone {
    color: #ffffff;
    font-family: monospace;
    font-size: 11px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #004c44;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #32756e;
    border-color: #00ff1f;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
span.svg-lable {
    border: solid 1PX #009a8a;
    padding: 15px 10px;
    COLOR: #fff;
}
thead.table-add-svg {
    padding: 5px;
    color: #ffffffbd;
    font-family: monospace;
}
.row.select-file {
    color: #009a8a;
    font-family: auto;
}
td.x-close {
    padding: 0px;
    font-size: 35px;
    font-family: monospace;
    color: #fff;
}
td.x-close:hover::after {
 content: attr(data-title);
}
.table td,
.table th {
    /* padding: .75rem; */
    vertical-align: center!important;
    /* border-top: 1px solid #dee2e6 */
}
span.file-s {
    color: #fff;
    font-size: 15px;
}
.svg-lable {
    color: #fff;
    font-size: 55px;
	transition: all 0.45s;
}
.svg-lable:active {
    /* overflow: hidden;  */
    /* position: relative; */
	transition: all 0.28s;
	transform: scale(6);
	-webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);
    background-color: #263137;
    text-align: center;
    padding: 5px;
    /* display: flex; */
    /* align-items: center; */
}
   .table td, .table th {
       padding: 5px 7px!important;
       /* vertical-align: top; */
       border-top: 1px solid #dee2e6!important;
   }

   td.x-close {
       width: 50px;
   }
   th.svg-icon {
    width: 78px;
}

span.id-id {
    font-size: 25px;
    font-family: monospace;
}
input.input-id {
    /* width: 280px; */
    font-family: monospace;
    font-size: 19px;
}
.elmnt {
    padding: 5px 0;
}
select.input-id {
    width: 50%%;
}
.ino {
  border: solid 1px;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5px;
}
.show {
  display: block;
}
.card-header {
	padding: 0rem 1rem;
}
.svg-element {
	background-color: #aee6bb;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
	text-align: center;
	padding: .375rem .75rem;
    font-family: inherit;
    margin: 0px;
    margin-bottom: 0rem;
}
.card-block {
	background-color: #aee6bb;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-body {
	background-color: #d4edda;
	padding: 0.3rem;
	background-color: azure
}

#svg-element {
	background-color: azure;
    padding: 7px;
	max-height: 320px;
	border-radius: 5px;
}
.block-element {
	color: black;
    font-weight: bolder;
}
#accordion {
	color: black;
    font-weight: bolder;
}
.svg-block {
	padding: 0.2rem 0.2rem;
    font-family: inherit;
    margin: 0px;
	margin-bottom: 0rem;
}
.block-name {
	background-color: #e88891;
	padding: .375rem .75rem;
    font-family: inherit;
    margin: 0px;
	margin-bottom: 0rem;
}
.collapsed {
	background-color: #aee6bb;
}
.svg-check-element {
	    margin: 0px;
}
.svg-check-block {
	    margin: 0px;
}
.svg-info label{
	display: table-caption;
}
.icon-big {
    padding: 0px;
    background-color: #d4edda;
}
.btn-svg-bottom {
	padding-right: 0px;
    padding-left: 0px;
}
.btn-svg-left {
	padding-right: 0px;
    padding-left: 0px;
}
.btn-svg-top {
	padding-right: 0px;
    padding-left: 0px;
}
.btn-svg-right {
	padding-right: 0px;
    padding-left: 0px;
}

.btn-svg-size {
}
.element-list {
	padding: 0.2rem 0.2rem;
    font-family: inherit;
    margin: 0px;
	margin-bottom: 0rem;
}
.block-element-list {
	padding: 0.2rem 0.2rem;
    font-family: inherit;
    margin: 0px;
	margin-bottom: 0rem;
}