body {
    color: #263137;
    background: #f3f3f3;
    font-family: 'Bellota', cursive;
  }
h1.ada-h1 {
    text-align: center;
    font-family: 'Bellota', cursive;
    color: #009a8a;
    /* margin: -65px 0 0 0; */
}
.ada-title {
    text-align: center;
}
img.ada-title-img {
    width: 450px;
}
h5.ada-sub-title {
    margin: -20px 0 19px 0;
    color: #000;
    font-variant: petite-caps;
    font-size: 25px;
}


a {
    text-decoration: blink;
    color: #fff;
    border: solid 1px #009a8a;
    padding: 6px 7px;
}
.ada-intro {
    text-align: center;
    padding: 15px 0;
}
i.menu {
    padding: 5px;
    margin: 0;
    font-family: Bellota!important;
    color: #000;
}
.clearfix.bshadow0.pbs {
    font-size: 40px;
    /* text-align: center; */
    color: #18009a;
}
i.icons {
    color: #009a8a;
}
xmp {
    font-size: 15px;
    display: contents;
    padding: 0px;
    font-family: none;
    text-align: -webkit-center;
    margin: 0;
    align-content: center;
    color: #fff;
}
hr {
    margin-top: -13px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(0, 154, 138);
    padding: 0 68px;
}
img.logo {
    width: 150px;
}
.ada-intro {
    padding: 50px 0 0 0;
}
a.logo {
    text-decoration: none;
    border: none;
}
.row.conten-home {
    text-align: center;
    font-size: 35px;
}
b.conten-home {
    color: #009a8a;
    font-family: 'Bellota', cursive;
}
hr.hr-conten-home {
    margin: 15px;
}
h5.naming {
    font-size: 13px;
    margin: -35px;
}
a.naming{
    text-decoration: none;
    border: none;
    color: #fff;
}
img.bg-col {
    width: 250px;
}
p.ada-p {
    font-size: 15px;
    text-align: left;
    font-family: Arial;
}
a.bt {
  border: none;
padding: initial;
text-decoration: none;
color: #fff;
padding: 0 15px;
/* align-content: center; */
}
.row.serch-icon {
    padding: 29px 0 0;
    list-style-type: none;
}
img.boundaries {
    height: 250px;
}
.col-md-6.boundaries {
    text-align: center;
}
input.form-control {
    margin: -19px 0 0 0!important;
}
.col-md-12.serch {
    text-align: center;
}
.row.serch-icon {
    text-align: center;
}
span.red {
    background-color: #ff00006b;
    border-color: #ff00006b;
    border-radius: 50%;
    padding: 4px 6px;
    color: #ff00006b;
    font-size: 5px;
}
span.blue {
    background-color: #0000ff85;
    border-color: #0000ff85;
    border-radius: 50%;
    padding: 4px 6px;
    color: #0000ff85;
    font-size: 5px;
}
span.yellow {
    background-color: #ff9900b8;
    border-color: #ff9900b8;
    border-radius: 50%;
    padding: 4px 6px;
    color: #ff9900b8;
    font-size: 5px;
}
.row.monitor {
    background-color: #343a40;
    border-radius: 5px;
    padding: 5px;
    margin-left: 48px;
    text-align: center;
}
.monitor-code {
    text-align: left;
}
.col-md-6.monitor {
    background-color: #009a8a21;
    color: #000;
    text-align: left;
    border-radius: 5px;
    border-color: ;
}
.monitor.title {
    text-align: center;
    margin: -14px 0 0 0;
    border-radius: 5px;
    /* border-color: #fff; */
    padding: 0 0 3px 0;
    /* background-color: #ffffffb0; */
}
xmp.head {
    COLOR: #009a8a;
}
xmp.body {
    COLOR: #009a8a;
}
xmp.coment {
    color: #0000004a;
}
xmp.head-link {
    color: #ff922b;
}
img.cod-img {
    width: 550px;

}
.bottom {
    margin: -50px 0 0 0;
}
span.mls {
    font-size: 12px;
    margin: 0 -10px;
    font-family: Arial;
    color: #000;
    vertical-align: super;
}
h1.font-group {
  text-align: center;
  /* background-color: #009a8a; */
  border-radius: 10px;
  text-decoration: none;
  color: ##009a8a;
  padding: 5px 0;

}

.menu {
  text-align: center;
  padding-top:15px;
}
.menu {
    text-align: right;
}

.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

@media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }

  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }

  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}
h3.des-h3 {
    text-align: center;
}
img.ada-des-img {
    height: 150px;
}
.col-md-4.des {
    text-align: center;
}
b.version {
    padding: 5px 8px;
    background-color: #009a98;
    margin: 15px;
    border-radius: 5px;
    font-size: 15px;
    vertical-align: super;
    font-family: Arial;
    color: #f3f3f3;
}
