@import "variables"

@font-face
  font-family 'ADA-WEB-FONT'
  src url(icomoon-font-path + '/ADA-WEB-FONT.eot?dz26ze')
  src url(icomoon-font-path + '/ADA-WEB-FONT.eot?dz26ze#iefix') format('embedded-opentype'), url(icomoon-font-path + '/ADA-WEB-FONT.ttf?dz26ze') format('truetype'), url(icomoon-font-path + '/ADA-WEB-FONT.woff?dz26ze') format('woff'), url(icomoon-font-path + '/ADA-WEB-FONT.svg?dz26ze#ADA-WEB-FONT') format('svg')
  font-weight normal
  font-style normal
  font-display block

i, .icomoon-liga
  font-family 'ADA-WEB-FONT' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  
  /* Enable Ligatures ================ */
  letter-spacing 0
  -webkit-font-feature-settings "liga"
  -moz-font-feature-settings "liga=1"
  -moz-font-feature-settings "liga"
  -ms-font-feature-settings "liga" 1
  font-feature-settings "liga"
  -webkit-font-variant-ligatures discretionary-ligatures;
  font-variant-ligatures discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ada-ambulance
  &:before
    content ada-ambulance
.ada-baby-face
  &:before
    content ada-baby-face
.ada-bandage-cross
  &:before
    content ada-bandage-cross
.ada-biohazard
  &:before
    content ada-biohazard
.ada-biology-shape
  &:before
    content ada-biology-shape
.ada-blood-analysis
  &:before
    content ada-blood-analysis
.ada-blood-cell
  &:before
    content ada-blood-cell
.ada-blood-drop
  &:before
    content ada-blood-drop
.ada-blood-pressure-control-tool
  &:before
    content ada-blood-pressure-control-tool
.ada-blood-sample
  &:before
    content ada-blood-sample
.ada-blood-transfusion
  &:before
    content ada-blood-transfusion
.ada-brain-in-bald-male-head
  &:before
    content ada-brain-in-bald-male-head
.ada-broken-bone
  &:before
    content ada-broken-bone
.ada-broken-feet-with-bandage
  &:before
    content ada-broken-feet-with-bandage
.ada-brush-with-tooth-paste
  &:before
    content ada-brush-with-tooth-paste
.ada-caduceus-medical-symbol-of-two-ascending-serpents-on-a-cane-with-wings
  &:before
    content ada-caduceus-medical-symbol-of-two-ascending-serpents-on-a-cane-with-wings
.ada-cells-in-a-circle
  &:before
    content ada-cells-in-a-circle
.ada-chemistry-flask-with-liquid
  &:before
    content ada-chemistry-flask-with-liquid
.ada-crutch
  &:before
    content ada-crutch
.ada-crutches-couple
  &:before
    content ada-crutches-couple
.ada-dentist-tool
  &:before
    content ada-dentist-tool
.ada-dosage-medical-tool
  &:before
    content ada-dosage-medical-tool
.ada-drug-pills
  &:before
    content ada-drug-pills
.ada-drugs-capsules-and-pills
  &:before
    content ada-drugs-capsules-and-pills
.ada-emergency-light
  &:before
    content ada-emergency-light
.ada-eye-scanner-medical-symbol
  &:before
    content ada-eye-scanner-medical-symbol
.ada-family-of-heterosexual-couple
  &:before
    content ada-family-of-heterosexual-couple
.ada-female-sign
  &:before
    content ada-female-sign
.ada-first-aid-kit
  &:before
    content ada-first-aid-kit
.ada-handicap
  &:before
    content ada-handicap
.ada-heart-beats-lifeline-in-a-heart
  &:before
    content ada-heart-beats-lifeline-in-a-heart
.ada-heart-black-shape
  &:before
    content ada-heart-black-shape
.ada-heart-rate-monitor
  &:before
    content ada-heart-rate-monitor
.ada-hospital-bed-silhouette-side-view
  &:before
    content ada-hospital-bed-silhouette-side-view
.ada-hospital-building-front
  &:before
    content ada-hospital-building-front
.ada-hospital-letter-sign-in-rounded-square
  &:before
    content ada-hospital-letter-sign-in-rounded-square
.ada-hospital-medical-signal-of-a-cross-in-a-circle
  &:before
    content ada-hospital-medical-signal-of-a-cross-in-a-circle
.ada-hospital-placeholder
  &:before
    content ada-hospital-placeholder
.ada-human-ear-shape
  &:before
    content ada-human-ear-shape
.ada-human-eye-shape
  &:before
    content ada-human-eye-shape
.ada-human-feet-shape
  &:before
    content ada-human-feet-shape
.ada-hurted-finger-with-bandage
  &:before
    content ada-hurted-finger-with-bandage
.ada-illness-on-bed
  &:before
    content ada-illness-on-bed
.ada-lifeline-of-heartbeats-on-a-paper-on-a-clipboard
  &:before
    content ada-lifeline-of-heartbeats-on-a-paper-on-a-clipboard
.ada-lungs-silhouette
  &:before
    content ada-lungs-silhouette
.ada-male-gender-sign
  &:before
    content ada-male-gender-sign
.ada-medical-chain-symbol-of-dna
  &:before
    content ada-medical-chain-symbol-of-dna
.ada-medical-chopper-transport
  &:before
    content ada-medical-chopper-transport
.ada-medical-circular-glasses
  &:before
    content ada-medical-circular-glasses
.ada-medical-doctor-specialist
  &:before
    content ada-medical-doctor-specialist
.ada-medical-hammer-tool
  &:before
    content ada-medical-hammer-tool
.ada-medical-heart-scan
  &:before
    content ada-medical-heart-scan
.ada-medical-notes
  &:before
    content ada-medical-notes
.ada-medical-pill
  &:before
    content ada-medical-pill
.ada-medical-results-folders
  &:before
    content ada-medical-results-folders
.ada-medical-test
  &:before
    content ada-medical-test
.ada-medical-talk
  &:before
    content ada-medical-talk
.ada-medical-temperature-control-tool
  &:before
    content ada-medical-temperature-control-tool
.ada-medicine-capsules
  &:before
    content ada-medicine-capsules
.ada-medicines-bowl
  &:before
    content ada-medicines-bowl
.ada-medicine-small-bottle
  &:before
    content ada-medicine-small-bottle
.ada-men-silhouette
  &:before
    content ada-men-silhouette
.ada-microscope-tool
  &:before
    content ada-microscope-tool
.ada-mother-with-baby-in-arms1
  &:before
    content ada-mother-with-baby-in-arms1
.ada-mouth-tube-in-bald-male-head
  &:before
    content ada-mouth-tube-in-bald-male-head
.ada-negative-sign
  &:before
    content ada-negative-sign
.ada-nurse
  &:before
    content ada-nurse
.ada-nurse-u
  &:before
    content ada-nurse-u
.ada-scissors
  &:before
    content ada-scissors
.ada-oxygen
  &:before
    content ada-oxygen
.ada-person-with-broken-arm
  &:before
    content ada-person-with-broken-arm
.ada-pharmacy-shopping-cart
  &:before
    content ada-pharmacy-shopping-cart
.ada-pharmacy
  &:before
    content ada-pharmacy
.ada-pharmacy-tool
  &:before
    content ada-pharmacy-tool
.ada-poison-bottle
  &:before
    content ada-poison-bottle
.ada-positive-verified-symbol-of-a-clipboard
  &:before
    content ada-positive-verified-symbol-of-a-clipboard
.ada-pregnancy
  &:before
    content ada-pregnancy
.ada-pulse-line
  &:before
    content ada-pulse-line
.ada-rolled-paper
  &:before
    content ada-rolled-paper
.ada-scale-balanced
  &:before
    content ada-scale-balanced
.ada-scale-tool-control
  &:before
    content ada-scale-tool-control
.ada-scalpel
  &:before
    content ada-scalpel
.ada-screw
  &:before
    content ada-screw
.ada-sperm
  &:before
    content ada-sperm
.ada-stethoscope
  &:before
    content ada-stethoscope
.ada-stomach-shape
  &:before
    content ada-stomach-shape
.ada-cancer-ribbon
  &:before
    content ada-cancer-ribbon
.ada-syringe
  &:before
    content ada-syringe
.ada-syrup-medicine
  &:before
    content ada-syrup-medicine
.ada-tag-cross
  &:before
    content ada-tag-cross
.ada-teeth
  &:before
    content ada-teeth
.ada-thermometer1
  &:before
    content ada-thermometer1
.ada-hexagons1
  &:before
    content ada-hexagons1
.ada-toxic
  &:before
    content ada-toxic
.ada-unhealthy
  &:before
    content ada-unhealthy
.ada-heterosexual
  &:before
    content ada-heterosexual
.ada-glass
  &:before
    content ada-glass
.ada-silhouette
  &:before
    content ada-silhouette
.ada-women
  &:before
    content ada-women
.ada-x-ray
  &:before
    content ada-x-ray
.ada-baby-carriage
  &:before
    content ada-baby-carriage
.ada-baby-on-stroller
  &:before
    content ada-baby-on-stroller
.ada-baby-playing
  &:before
    content ada-baby-playing
.ada-bboy
  &:before
    content ada-bboy
.ada-boy-in-bath
  &:before
    content ada-boy-in-bath
.ada-boy-rised
  &:before
    content ada-boy-rised
.ada-child-balloon
  &:before
    content ada-child-balloon
.ada-couple
  &:before
    content ada-couple
.ada-couple-in-love
  &:before
    content ada-couple-in-love
.ada-couple-brothers
  &:before
    content ada-couple-brothers
.ada-couple-man
  &:before
    content ada-couple-man
.ada-couple-sisters
  &:before
    content ada-couple-sisters
.ada-couple-two-women-house
  &:before
    content ada-couple-two-women-house
.ada-couple-with-baby
  &:before
    content ada-couple-with-baby
.ada-couple-daughter-heart
  &:before
    content ada-couple-daughter-heart
.ada-crawling-baby
  &:before
    content ada-crawling-baby
.ada-familiar-group
  &:before
    content ada-familiar-group
.ada-group-couple
  &:before
    content ada-group-couple
.ada-familiar-group-three
  &:before
    content ada-familiar-group-three
.ada-familiar-group-of-three-persons-father-mother-and-son
  &:before
    content ada-familiar-group-of-three-persons-father-mother-and-son
.ada-familiar-two-child
  &:before
    content ada-familiar-two-child
.ada-familiar-two-childs
  &:before
    content ada-familiar-two-childs
.ada-familiar-love
  &:before
    content ada-familiar-love
.ada-familiar-meeting
  &:before
    content ada-familiar-meeting
.ada-family-group-of-a-couple-with-three-children
  &:before
    content ada-family-group-of-a-couple-with-three-children
.ada-family-group-dog
  &:before
    content ada-family-group-dog
.ada-family-in-home
  &:before
    content ada-family-in-home
.ada-family-of-three
  &:before
    content ada-family-of-three
.ada-father-shopping
  &:before
    content ada-father-shopping
.ada-father-playing
  &:before
    content ada-father-playing
.ada-father-playingwith-dog
  &:before
    content ada-father-playingwith-dog
.ada-father-turning
  &:before
    content ada-father-turning
.ada-father-with-baby-stroller
  &:before
    content ada-father-with-baby-stroller
.ada-father-with-daughter
  &:before
    content ada-father-with-daughter
.ada-father-daughter
  &:before
    content ada-father-daughter
.ada-father-son
  &:before
    content ada-father-son
.ada-female-familiar
  &:before
    content ada-female-familiar
.ada-grandfather
  &:before
    content ada-grandfather
.ada-grandmother
  &:before
    content ada-grandmother
.ada-lesbian-couple
  &:before
    content ada-lesbian-couple
.ada-male-familiar
  &:before
    content ada-male-familiar
.ada-male-family-group
  &:before
    content ada-male-family-group
.ada-male-family
  &:before
    content ada-male-family
.ada-males-couple
  &:before
    content ada-males-couple
.ada-marriage-girlfriend
  &:before
    content ada-marriage-girlfriend
.ada-man-rising
  &:before
    content ada-man-rising
.ada-man-silhouette
  &:before
    content ada-man-silhouette
.ada-man-shopping
  &:before
    content ada-man-shopping
.ada-man-and-baby
  &:before
    content ada-man-and-baby
.ada-men-couple-love
  &:before
    content ada-men-couple-love
.ada-men-couple-daughter
  &:before
    content ada-men-couple-daughter
.ada-men-couple
  &:before
    content ada-men-couple
.ada-men-couple-childs
  &:before
    content ada-men-couple-childs
.ada-mother-and-father
  &:before
    content ada-mother-and-father
.ada-mother-and-son
  &:before
    content ada-mother-and-son
.ada-mother-carrying
  &:before
    content ada-mother-carrying
.ada-mother-changing
  &:before
    content ada-mother-changing
.ada-family-group
  &:before
    content ada-family-group
.ada-mother-food
  &:before
    content ada-mother-food
.ada-mother-loving
  &:before
    content ada-mother-loving
.ada-mother-walking-baby
  &:before
    content ada-mother-walking-baby
.ada-mother-walking
  &:before
    content ada-mother-walking
.ada-mother-son-stroller
  &:before
    content ada-mother-son-stroller
.ada-mother-three-babies
  &:before
    content ada-mother-three-babies
.ada-mother-arms
  &:before
    content ada-mother-arms
.ada-mother-car
  &:before
    content ada-mother-car
.ada-mother-baby
  &:before
    content ada-mother-baby
.ada-mother-daughter
  &:before
    content ada-mother-daughter
.ada-mother-son
  &:before
    content ada-mother-son
.ada-pregnant-woman
  &:before
    content ada-pregnant-woman
.ada-pregnant
  &:before
    content ada-pregnant
.ada-waiting-lunch
  &:before
    content ada-waiting-lunch
.ada-three-women
  &:before
    content ada-three-women
.ada-men-couple-house
  &:before
    content ada-men-couple-house
.ada-kid-familiar
  &:before
    content ada-kid-familiar
.ada-woman-standing
  &:before
    content ada-woman-standing
.ada-woman-baby
  &:before
    content ada-woman-baby
.ada-women-couple
  &:before
    content ada-women-couple
.ada-women-couple-son
  &:before
    content ada-women-couple-son
.ada-young-woman
  &:before
    content ada-young-woman
.ada-boy
  &:before
    content ada-boy
.ada-casual-male
  &:before
    content ada-casual-male
.ada-chef
  &:before
    content ada-chef
.ada-engineer
  &:before
    content ada-engineer
.ada-farmer
  &:before
    content ada-farmer
.ada-female-chef
  &:before
    content ada-female-chef
.ada-female-cooker
  &:before
    content ada-female-cooker
.ada-female-engineer
  &:before
    content ada-female-engineer
.ada-female-geek
  &:before
    content ada-female-geek
.ada-female-graduate
  &:before
    content ada-female-graduate
.ada-gardener
  &:before
    content ada-gardener
.ada-geek-person
  &:before
    content ada-geek-person
.ada-gentleman
  &:before
    content ada-gentleman
.ada-girl
  &:before
    content ada-girl
.ada-graduate
  &:before
    content ada-graduate
.ada-male
  &:before
    content ada-male
.ada-man-with-shirt
  &:before
    content ada-man-with-shirt
.ada-medical-doctor
  &:before
    content ada-medical-doctor
.ada-medieval-woman
  &:before
    content ada-medieval-woman
.ada-person-shirt
  &:before
    content ada-person-shirt
.ada-pilot
  &:before
    content ada-pilot
.ada-policeman
  &:before
    content ada-policeman
.ada-professor
  &:before
    content ada-professor
.ada-stewardess
  &:before
    content ada-stewardess
.ada-waiter
  &:before
    content ada-waiter
.ada-waitress
  &:before
    content ada-waitress
.ada-woman
  &:before
    content ada-woman
.ada-woman-casual
  &:before
    content ada-woman-casual
.ada-woman-dress
  &:before
    content ada-woman-dress
.ada-on-51-squared
  &:before
    content ada-on-51-squared
.ada-on-56-squared
  &:before
    content ada-on-56-squared
.ada-500-px-squared
  &:before
    content ada-500-px-squared
.ada-px-squared
  &:before
    content ada-px-squared
.ada-ads-world-squared
  &:before
    content ada-ads-world-squared
.ada-ads-scuttlepad-squared
  &:before
    content ada-ads-scuttlepad-squared
.ada-arte-10-squared
  &:before
    content ada-arte-10-squared
.ada-ashley-madison-squared
  &:before
    content ada-ashley-madison-squared
.ada-asmallworld-squared
  &:before
    content ada-asmallworld-squared
.ada-badoo-squared
  &:before
    content ada-badoo-squared
.ada-baidu-squared
  &:before
    content ada-baidu-squared
.ada-bananity-squared
  &:before
    content ada-bananity-squared
.ada-bandcamp-squared
  &:before
    content ada-bandcamp-squared
.ada-bebo-squared
  &:before
    content ada-bebo-squared
.ada-behance-squared
  &:before
    content ada-behance-squared
.ada-bettercodes-squared
  &:before
    content ada-bettercodes-squared
.ada-bisquits-squared
  &:before
    content ada-bisquits-squared
.ada-bitacoras-squared
  &:before
    content ada-bitacoras-squared
.ada-bitacorasna-squared
  &:before
    content ada-bitacorasna-squared
.ada-blackplanet-squared
  &:before
    content ada-blackplanet-squared
.ada-blogbus-squared
  &:before
    content ada-blogbus-squared
.ada-blogger-squared
  &:before
    content ada-blogger-squared
.ada-bloson-squared
  &:before
    content ada-bloson-squared
.ada-bola-a-squared
  &:before
    content ada-bola-a-squared
.ada-buzznet-squared
  &:before
    content ada-buzznet-squared
.ada-cafemom-squared
  &:before
    content ada-cafemom-squared
.ada-care2-squared
  &:before
    content ada-care2-squared
.ada-caringbridge-squared
  &:before
    content ada-caringbridge-squared
.ada-cellufun-squared
  &:before
    content ada-cellufun-squared
.ada-citeulike-squared
  &:before
    content ada-citeulike-squared
.ada-classmates-squared
  &:before
    content ada-classmates-squared
.ada-club-dante-squared
  &:before
    content ada-club-dante-squared
.ada-coderwall-squared
  &:before
    content ada-coderwall-squared
.ada-colourlovers-squared
  &:before
    content ada-colourlovers-squared
.ada-coroflot2-squared
  &:before
    content ada-coroflot2-squared
.ada-couchsurfing-squared
  &:before
    content ada-couchsurfing-squared
.ada-creattica-squared
  &:before
    content ada-creattica-squared
.ada-tv-squared
  &:before
    content ada-tv-squared
.ada-dailymotion-squared
  &:before
    content ada-dailymotion-squared
.ada-deezer-squared
  &:before
    content ada-deezer-squared
.ada-delicious-squared
  &:before
    content ada-delicious-squared
.ada-desarrollo-squared
  &:before
    content ada-desarrollo-squared
.ada-designrelated-squared
  &:before
    content ada-designrelated-squared
.ada-deviantart-squared
  &:before
    content ada-deviantart-squared
.ada-digg-squared
  &:before
    content ada-digg-squared
.ada-digg-logotype2-squared
  &:before
    content ada-digg-logotype2-squared
.ada-divoblogger-squared
  &:before
    content ada-divoblogger-squared
.ada-doodle-ly-squared
  &:before
    content ada-doodle-ly-squared
.ada-douban-squared
  &:before
    content ada-douban-squared
.ada-dribbble-squared
  &:before
    content ada-dribbble-squared
.ada-ebay-squared
  &:before
    content ada-ebay-squared
.ada-etsy-squared
  &:before
    content ada-etsy-squared
.ada-everloop-squared
  &:before
    content ada-everloop-squared
.ada-ex-fm-squared
  &:before
    content ada-ex-fm-squared
.ada-eyeem-squared
  &:before
    content ada-eyeem-squared
.ada-facebook-squared
  &:before
    content ada-facebook-squared
.ada-fanlala-squared
  &:before
    content ada-fanlala-squared
.ada-flickr-squared
  &:before
    content ada-flickr-squared
.ada-flipkart-squared
  &:before
    content ada-flipkart-squared
.ada-flixster-squared
  &:before
    content ada-flixster-squared
.ada-fod-squared
  &:before
    content ada-fod-squared
.ada-fontli-squared
  &:before
    content ada-fontli-squared
.ada-fotki-squared
  &:before
    content ada-fotki-squared
.ada-fotolog-squared
  &:before
    content ada-fotolog-squared
.ada-foursquare-squared
  &:before
    content ada-foursquare-squared
.ada-friendster-squared
  &:before
    content ada-friendster-squared
.ada-funny-or-die-squared
  &:before
    content ada-funny-or-die-squared
.ada-gaiaonline-squared
  &:before
    content ada-gaiaonline-squared
.ada-gather-squared
  &:before
    content ada-gather-squared
.ada-geni-squared
  &:before
    content ada-geni-squared
.ada-geonick-squared
  &:before
    content ada-geonick-squared
.ada-glipho-squared
  &:before
    content ada-glipho-squared
.ada-glogster-squared
  &:before
    content ada-glogster-squared
.ada-g-plus-squared
  &:before
    content ada-g-plus-squared
.ada-grooveshark-squared
  &:before
    content ada-grooveshark-squared
.ada-grou-ps-squared
  &:before
    content ada-grou-ps-squared
.ada-habbo-squared
  &:before
    content ada-habbo-squared
.ada-habbo-h-squared
  &:before
    content ada-habbo-h-squared
.ada-heello-squared
  &:before
    content ada-heello-squared
.ada-hexun-squared
  &:before
    content ada-hexun-squared
.ada-hi5-squared
  &:before
    content ada-hi5-squared
.ada-hipstamatic-squared
  &:before
    content ada-hipstamatic-squared
.ada-hubbub-squared
  &:before
    content ada-hubbub-squared
.ada-inside-the-hotel-squared
  &:before
    content ada-inside-the-hotel-squared
.ada-instagram-squared
  &:before
    content ada-instagram-squared
.ada-intellectconnect-squared
  &:before
    content ada-intellectconnect-squared
.ada-iqyi-squared
  &:before
    content ada-iqyi-squared
.ada-itsmy-squared
  &:before
    content ada-itsmy-squared
.ada-itsmy-name-squared
  &:before
    content ada-itsmy-name-squared
.ada-jiepang-squared
  &:before
    content ada-jiepang-squared
.ada-jux-squared
  &:before
    content ada-jux-squared
.ada-kaixin101-squared
  &:before
    content ada-kaixin101-squared
.ada-kiwibox-squared
  &:before
    content ada-kiwibox-squared
.ada-ku6-squared
  &:before
    content ada-ku6-squared
.ada-last-fm-squared
  &:before
    content ada-last-fm-squared
.ada-linkedin-squared
  &:before
    content ada-linkedin-squared
.ada-literatura-nova-squared
  &:before
    content ada-literatura-nova-squared
.ada-meetic-squared
  &:before
    content ada-meetic-squared
.ada-meetme-squared
  &:before
    content ada-meetme-squared
.ada-meetup-squared
  &:before
    content ada-meetup-squared
.ada-meetyourfriends-squared
  &:before
    content ada-meetyourfriends-squared
.ada-meneame-squared
  &:before
    content ada-meneame-squared
.ada-metacafe-squared
  &:before
    content ada-metacafe-squared
.ada-mixi-squared
  &:before
    content ada-mixi-squared
.ada-mocospace-squared
  &:before
    content ada-mocospace-squared
.ada-myfolio-squared
  &:before
    content ada-myfolio-squared
.ada-my-heritage-squared
  &:before
    content ada-my-heritage-squared
.ada-my-life-squared
  &:before
    content ada-my-life-squared
.ada-my-life-name-squared
  &:before
    content ada-my-life-name-squared
.ada-my-space-squared
  &:before
    content ada-my-space-squared
.ada-myspace-squared
  &:before
    content ada-myspace-squared
.ada-ning-squared
  &:before
    content ada-ning-squared
.ada-nk-squared
  &:before
    content ada-nk-squared
.ada-notasweb-squared
  &:before
    content ada-notasweb-squared
.ada-odnoklassniki-squared
  &:before
    content ada-odnoklassniki-squared
.ada-orkut-squared
  &:before
    content ada-orkut-squared
.ada-p1-squared
  &:before
    content ada-p1-squared
.ada-panamo-squared
  &:before
    content ada-panamo-squared
.ada-path-squared
  &:before
    content ada-path-squared
.ada-pengyu-squared
  &:before
    content ada-pengyu-squared
.ada-pheed-squared
  &:before
    content ada-pheed-squared
.ada-pictify-squared
  &:before
    content ada-pictify-squared
.ada-pinspire-squared
  &:before
    content ada-pinspire-squared
.ada-pinstagram-squared
  &:before
    content ada-pinstagram-squared
.ada-pinterest-squared
  &:before
    content ada-pinterest-squared
.ada-podio-squared
  &:before
    content ada-podio-squared
.ada-qq-squared
  &:before
    content ada-qq-squared
.ada-questionity-squared
  &:before
    content ada-questionity-squared
.ada-qzone-squared
  &:before
    content ada-qzone-squared
.ada-ravelry-r-squared
  &:before
    content ada-ravelry-r-squared
.ada-ravelry-squared
  &:before
    content ada-ravelry-squared
.ada-redalyc-squared
  &:before
    content ada-redalyc-squared
.ada-reddit-squared
  &:before
    content ada-reddit-squared
.ada-reddit-name-squared
  &:before
    content ada-reddit-name-squared
.ada-rendezvous-squared
  &:before
    content ada-rendezvous-squared
.ada-renren-squared
  &:before
    content ada-renren-squared
.ada-researchgate-squared
  &:before
    content ada-researchgate-squared
.ada-reverbnation-squared
  &:before
    content ada-reverbnation-squared
.ada-ryze-name-squared
  &:before
    content ada-ryze-name-squared
.ada-ryze-squared
  &:before
    content ada-ryze-squared
.ada-scoopit-squared
  &:before
    content ada-scoopit-squared
.ada-scoop-it-squared
  &:before
    content ada-scoop-it-squared
.ada-scribd-squared
  &:before
    content ada-scribd-squared
.ada-sina-squared
  &:before
    content ada-sina-squared
.ada-sinaeye-squared
  &:before
    content ada-sinaeye-squared
.ada-skyrock-squared
  &:before
    content ada-skyrock-squared
.ada-slideshare-squared
  &:before
    content ada-slideshare-squared
.ada-socialcam-squared
  &:before
    content ada-socialcam-squared
.ada-sonico-squared
  &:before
    content ada-sonico-squared
.ada-sonico-smile-squared
  &:before
    content ada-sonico-smile-squared
.ada-soundcloud-squared
  &:before
    content ada-soundcloud-squared
.ada-spotbros-squared
  &:before
    content ada-spotbros-squared
.ada-spotify-squared
  &:before
    content ada-spotify-squared
.ada-studivz-squared
  &:before
    content ada-studivz-squared
.ada-stumbleupon-squared
  &:before
    content ada-stumbleupon-squared
.ada-symbaloo-squared
  &:before
    content ada-symbaloo-squared
.ada-tadaa-squared
  &:before
    content ada-tadaa-squared
.ada-tagged-squared
  &:before
    content ada-tagged-squared
.ada-tagworld-squared
  &:before
    content ada-tagworld-squared
.ada-taringa-squared
  &:before
    content ada-taringa-squared
.ada-telly-squared
  &:before
    content ada-telly-squared
.ada-tencent-squared
  &:before
    content ada-tencent-squared
.ada-threadless-squared
  &:before
    content ada-threadless-squared
.ada-tianji-squared
  &:before
    content ada-tianji-squared
.ada-travbuddy-squared
  &:before
    content ada-travbuddy-squared
.ada-tribe-squared
  &:before
    content ada-tribe-squared
.ada-tripadvisor-squared
  &:before
    content ada-tripadvisor-squared
.ada-tudou
  &:before
    content ada-tudou
.ada-tuenti-squared
  &:before
    content ada-tuenti-squared
.ada-tumblr-squared
  &:before
    content ada-tumblr-squared
.ada-tu-tv-squared
  &:before
    content ada-tu-tv-squared
.ada-tv-tag-squared
  &:before
    content ada-tv-tag-squared
.ada-twitpic-squared
  &:before
    content ada-twitpic-squared
.ada-twitter-t-squared
  &:before
    content ada-twitter-t-squared
.ada-twitter-squared
  &:before
    content ada-twitter-squared
.ada-twoo-squared
  &:before
    content ada-twoo-squared
.ada-typophile-squared
  &:before
    content ada-typophile-squared
.ada-ushi-squared
  &:before
    content ada-ushi-squared
.ada-vampirefreaks-squared
  &:before
    content ada-vampirefreaks-squared
.ada-viadeo-squared
  &:before
    content ada-viadeo-squared
.ada-viddy-squared
  &:before
    content ada-viddy-squared
.ada-vimeo-squared
  &:before
    content ada-vimeo-squared
.ada-vine-squared
  &:before
    content ada-vine-squared
.ada-vine-v-squared
  &:before
    content ada-vine-v-squared
.ada-vk-squared
  &:before
    content ada-vk-squared
.ada-wayn-squared
  &:before
    content ada-wayn-squared
.ada-weeworld-squared
  &:before
    content ada-weeworld-squared
.ada-weheartit-squared
  &:before
    content ada-weheartit-squared
.ada-weibo-squared
  &:before
    content ada-weibo-squared
.ada-widbook-squared
  &:before
    content ada-widbook-squared
.ada-wikiloc-squared
  &:before
    content ada-wikiloc-squared
.ada-wikipedia-w-squared
  &:before
    content ada-wikipedia-w-squared
.ada-wikipedia-squared
  &:before
    content ada-wikipedia-squared
.ada-wordpress-squared
  &:before
    content ada-wordpress-squared
.ada-xanga-squared
  &:before
    content ada-xanga-squared
.ada-xanga-pusle-squared
  &:before
    content ada-xanga-pusle-squared
.ada-xiami-squared
  &:before
    content ada-xiami-squared
.ada-xing-squared
  &:before
    content ada-xing-squared
.ada-yelp-squared
  &:before
    content ada-yelp-squared
.ada-youku-squared
  &:before
    content ada-youku-squared
.ada-yoursphere-squared
  &:before
    content ada-yoursphere-squared
.ada-youtube-squared
  &:before
    content ada-youtube-squared
.ada-youtube-icon-squared
  &:before
    content ada-youtube-icon-squared
.ada-yupoo-squared
  &:before
    content ada-yupoo-squared
.ada-zorpia-squared
  &:before
    content ada-zorpia-squared
.ada-on-51-rounded
  &:before
    content ada-on-51-rounded
.ada-56-rounded
  &:before
    content ada-56-rounded
.ada-px-rounded
  &:before
    content ada-px-rounded
.ada-500px-rounded
  &:before
    content ada-500px-rounded
.ada-adsofworld-rounded
  &:before
    content ada-adsofworld-rounded
.ada-ads-rounded
  &:before
    content ada-ads-rounded
.ada-arte10-rounded
  &:before
    content ada-arte10-rounded
.ada-ashley-madison-rounded
  &:before
    content ada-ashley-madison-rounded
.ada-asmallworld-rounded
  &:before
    content ada-asmallworld-rounded
.ada-badoo-rounded
  &:before
    content ada-badoo-rounded
.ada-baidu-rounded
  &:before
    content ada-baidu-rounded
.ada-bananity-rounded
  &:before
    content ada-bananity-rounded
.ada-bandcamp-rounded
  &:before
    content ada-bandcamp-rounded
.ada-bebo-rounded
  &:before
    content ada-bebo-rounded
.ada-behance-rounded
  &:before
    content ada-behance-rounded
.ada-bettercodes-rounded
  &:before
    content ada-bettercodes-rounded
.ada-bisquits-rounded
  &:before
    content ada-bisquits-rounded
.ada-bitacoras-b-rounded
  &:before
    content ada-bitacoras-b-rounded
.ada-bitacoras-rounded
  &:before
    content ada-bitacoras-rounded
.ada-blackplanet-rounded
  &:before
    content ada-blackplanet-rounded
.ada-blogbus-rounded
  &:before
    content ada-blogbus-rounded
.ada-blogger-rounded
  &:before
    content ada-blogger-rounded
.ada-bloson-rounded
  &:before
    content ada-bloson-rounded
.ada-bola-a-rounded
  &:before
    content ada-bola-a-rounded
.ada-buzznet-rounded
  &:before
    content ada-buzznet-rounded
.ada-cafemom-rounded
  &:before
    content ada-cafemom-rounded
.ada-care2-rounded
  &:before
    content ada-care2-rounded
.ada-caringbridge-rounded
  &:before
    content ada-caringbridge-rounded
.ada-cellufun-rounded
  &:before
    content ada-cellufun-rounded
.ada-citeulike-rounded
  &:before
    content ada-citeulike-rounded
.ada-classmates-rounded
  &:before
    content ada-classmates-rounded
.ada-club-dante-rounded
  &:before
    content ada-club-dante-rounded
.ada-coderwall-rounded
  &:before
    content ada-coderwall-rounded
.ada-colourlovers-rounded
  &:before
    content ada-colourlovers-rounded
.ada-coroflot-rounded
  &:before
    content ada-coroflot-rounded
.ada-couchsurfing-rounded
  &:before
    content ada-couchsurfing-rounded
.ada-creattica-rounded
  &:before
    content ada-creattica-rounded
.ada-cross-tv-rounded
  &:before
    content ada-cross-tv-rounded
.ada-dailymotion-rounded
  &:before
    content ada-dailymotion-rounded
.ada-deezer-rounded
  &:before
    content ada-deezer-rounded
.ada-delicious-rounded
  &:before
    content ada-delicious-rounded
.ada-desarrollo-rounded
  &:before
    content ada-desarrollo-rounded
.ada-designrelated-rounded
  &:before
    content ada-designrelated-rounded
.ada-deviantart-rounded
  &:before
    content ada-deviantart-rounded
.ada-digg-d-rounded
  &:before
    content ada-digg-d-rounded
.ada-digg-rounded
  &:before
    content ada-digg-rounded
.ada-divoblogger-rounded
  &:before
    content ada-divoblogger-rounded
.ada-doodle-ly-rounded
  &:before
    content ada-doodle-ly-rounded
.ada-douban-rounded
  &:before
    content ada-douban-rounded
.ada-dribbble-rounded
  &:before
    content ada-dribbble-rounded
.ada-etsy-rounded
  &:before
    content ada-etsy-rounded
.ada-everloop-rounded
  &:before
    content ada-everloop-rounded
.ada-ex-fm-rounded
  &:before
    content ada-ex-fm-rounded
.ada-eyeem-rounded
  &:before
    content ada-eyeem-rounded
.ada-facebook-rounded
  &:before
    content ada-facebook-rounded
.ada-fanlala-rounded
  &:before
    content ada-fanlala-rounded
.ada-flickr-rounded
  &:before
    content ada-flickr-rounded
.ada-flipkar-rounded
  &:before
    content ada-flipkar-rounded
.ada-flixster-rounded
  &:before
    content ada-flixster-rounded
.ada-fod-rounded
  &:before
    content ada-fod-rounded
.ada-fontli-rounded
  &:before
    content ada-fontli-rounded
.ada-fotki-rounded
  &:before
    content ada-fotki-rounded
.ada-fotolog-rounded
  &:before
    content ada-fotolog-rounded
.ada-foursquare-rounded
  &:before
    content ada-foursquare-rounded
.ada-friendster-rounded
  &:before
    content ada-friendster-rounded
.ada-funny-or-die-rounded
  &:before
    content ada-funny-or-die-rounded
.ada-gaiaonline-rounded
  &:before
    content ada-gaiaonline-rounded
.ada-gather-rounded
  &:before
    content ada-gather-rounded
.ada-geni-social-rounded
  &:before
    content ada-geni-social-rounded
.ada-geonick-rounded
  &:before
    content ada-geonick-rounded
.ada-glipho-rounded
  &:before
    content ada-glipho-rounded
.ada-glogster-rounded
  &:before
    content ada-glogster-rounded
.ada-g-plus-rounded
  &:before
    content ada-g-plus-rounded
.ada-grooveshark-rounded
  &:before
    content ada-grooveshark-rounded
.ada-grou-ps-rounded
  &:before
    content ada-grou-ps-rounded
.ada-habbo-h-rounded
  &:before
    content ada-habbo-h-rounded
.ada-habbo-rounded
  &:before
    content ada-habbo-rounded
.ada-heello-rounded
  &:before
    content ada-heello-rounded
.ada-hexun-rounded
  &:before
    content ada-hexun-rounded
.ada-hi5-rounded
  &:before
    content ada-hi5-rounded
.ada-hipstamatic-rounded
  &:before
    content ada-hipstamatic-rounded
.ada-hubbub-rounded
  &:before
    content ada-hubbub-rounded
.ada-inside-the-hotel-rounded
  &:before
    content ada-inside-the-hotel-rounded
.ada-instagra-rounded
  &:before
    content ada-instagra-rounded
.ada-intellectconnect-rounded
  &:before
    content ada-intellectconnect-rounded
.ada-iqyi-rounded
  &:before
    content ada-iqyi-rounded
.ada-itsmy-name-rounded
  &:before
    content ada-itsmy-name-rounded
.ada-itsmy-rounded
  &:before
    content ada-itsmy-rounded
.ada-jiepang-rounded
  &:before
    content ada-jiepang-rounded
.ada-jux-rounded
  &:before
    content ada-jux-rounded
.ada-kaixin101-rounded
  &:before
    content ada-kaixin101-rounded
.ada-kiwibox-rounded
  &:before
    content ada-kiwibox-rounded
.ada-ku6-rounded
  &:before
    content ada-ku6-rounded
.ada-last-fm-rounded
  &:before
    content ada-last-fm-rounded
.ada-linkedin-rounded
  &:before
    content ada-linkedin-rounded
.ada-literatura-nova-rounded
  &:before
    content ada-literatura-nova-rounded
.ada-meetic-rounded
  &:before
    content ada-meetic-rounded
.ada-meetme-rounded
  &:before
    content ada-meetme-rounded
.ada-meetup-rounded
  &:before
    content ada-meetup-rounded
.ada-meetyourfriends-rounded
  &:before
    content ada-meetyourfriends-rounded
.ada-meneame-rounded
  &:before
    content ada-meneame-rounded
.ada-metacafe-rounded
  &:before
    content ada-metacafe-rounded
.ada-mixi-rounded
  &:before
    content ada-mixi-rounded
.ada-mocospace-rounded
  &:before
    content ada-mocospace-rounded
.ada-myfolio-rounded
  &:before
    content ada-myfolio-rounded
.ada-my-heritage-rounded
  &:before
    content ada-my-heritage-rounded
.ada-my-life-rounded
  &:before
    content ada-my-life-rounded
.ada-my-life-social-logo1
  &:before
    content ada-my-life-social-logo1
.ada-my-space-rounded
  &:before
    content ada-my-space-rounded
.ada-myspace-rounded
  &:before
    content ada-myspace-rounded
.ada-ning-rounded
  &:before
    content ada-ning-rounded
.ada-nk-rounded
  &:before
    content ada-nk-rounded
.ada-notasweb-rounded
  &:before
    content ada-notasweb-rounded
.ada-odnoklassniki-rounded
  &:before
    content ada-odnoklassniki-rounded
.ada-orkut-rounded
  &:before
    content ada-orkut-rounded
.ada-p1-rounded
  &:before
    content ada-p1-rounded
.ada-panamo-rounded
  &:before
    content ada-panamo-rounded
.ada-path-rounded
  &:before
    content ada-path-rounded
.ada-pengyu-rounded
  &:before
    content ada-pengyu-rounded
.ada-pheed-rounded
  &:before
    content ada-pheed-rounded
.ada-pictify-rounded
  &:before
    content ada-pictify-rounded
.ada-pinspire-rounded
  &:before
    content ada-pinspire-rounded
.ada-pinstagram-rounded
  &:before
    content ada-pinstagram-rounded
.ada-pinterest-rounded
  &:before
    content ada-pinterest-rounded
.ada-podio-rounded
  &:before
    content ada-podio-rounded
.ada-qq-rounded
  &:before
    content ada-qq-rounded
.ada-questionity-rounded
  &:before
    content ada-questionity-rounded
.ada-qzone-rounded
  &:before
    content ada-qzone-rounded
.ada-ravelry-rounded
  &:before
    content ada-ravelry-rounded
.ada-ravelry-r-rounded
  &:before
    content ada-ravelry-r-rounded
.ada-redalyc-rounded
  &:before
    content ada-redalyc-rounded
.ada-reddit-rounded
  &:before
    content ada-reddit-rounded
.ada-reddit-r-rounded
  &:before
    content ada-reddit-r-rounded
.ada-rendezvous-rounded
  &:before
    content ada-rendezvous-rounded
.ada-renren-rounded
  &:before
    content ada-renren-rounded
.ada-researchgate-rounded
  &:before
    content ada-researchgate-rounded
.ada-reverbnation-rounded
  &:before
    content ada-reverbnation-rounded
.ada-ryze-rounded
  &:before
    content ada-ryze-rounded
.ada-ryze-social-logo1
  &:before
    content ada-ryze-social-logo1
.ada-scoop-rounded
  &:before
    content ada-scoop-rounded
.ada-scoop-it-rounded
  &:before
    content ada-scoop-it-rounded
.ada-scribd-rounded
  &:before
    content ada-scribd-rounded
.ada-sina-rounded
  &:before
    content ada-sina-rounded
.ada-sina-s-rounded
  &:before
    content ada-sina-s-rounded
.ada-skyrock-rounded
  &:before
    content ada-skyrock-rounded
.ada-slideshare-rounded
  &:before
    content ada-slideshare-rounded
.ada-socialcam-rounded
  &:before
    content ada-socialcam-rounded
.ada-sonico-rounded
  &:before
    content ada-sonico-rounded
.ada-sonico-smile-rounded
  &:before
    content ada-sonico-smile-rounded
.ada-soundcloud-rounded
  &:before
    content ada-soundcloud-rounded
.ada-spotbros-rounded
  &:before
    content ada-spotbros-rounded
.ada-spotify-rounded
  &:before
    content ada-spotify-rounded
.ada-studivz-rounded
  &:before
    content ada-studivz-rounded
.ada-stumbleupon-rounded
  &:before
    content ada-stumbleupon-rounded
.ada-symbaloo-rounded
  &:before
    content ada-symbaloo-rounded
.ada-tadaa-rounded
  &:before
    content ada-tadaa-rounded
.ada-tagged-rounded
  &:before
    content ada-tagged-rounded
.ada-tagworld-rounded
  &:before
    content ada-tagworld-rounded
.ada-taringa-rounded
  &:before
    content ada-taringa-rounded
.ada-telly-rounded
  &:before
    content ada-telly-rounded
.ada-tencent-rounded
  &:before
    content ada-tencent-rounded
.ada-threadless-rounded
  &:before
    content ada-threadless-rounded
.ada-tianji-rounded
  &:before
    content ada-tianji-rounded
.ada-travbuddy-rounded
  &:before
    content ada-travbuddy-rounded
.ada-tribe-rounded
  &:before
    content ada-tribe-rounded
.ada-tripadvisor-rounded
  &:before
    content ada-tripadvisor-rounded
.ada-tudou-rounded
  &:before
    content ada-tudou-rounded
.ada-tuenti-rounded
  &:before
    content ada-tuenti-rounded
.ada-tumblr-rounded
  &:before
    content ada-tumblr-rounded
.ada-tu-tv-rounded
  &:before
    content ada-tu-tv-rounded
.ada-tv-tag-rounded
  &:before
    content ada-tv-tag-rounded
.ada-twitpic-rounded
  &:before
    content ada-twitpic-rounded
.ada-twitter-t-rounded
  &:before
    content ada-twitter-t-rounded
.ada-twitter-rounded
  &:before
    content ada-twitter-rounded
.ada-twoo-rounded
  &:before
    content ada-twoo-rounded
.ada-typophile-rounded
  &:before
    content ada-typophile-rounded
.ada-ushi-rounded
  &:before
    content ada-ushi-rounded
.ada-vampirefreaks-rounded
  &:before
    content ada-vampirefreaks-rounded
.ada-viadeo-rounded
  &:before
    content ada-viadeo-rounded
.ada-viddy-rounded
  &:before
    content ada-viddy-rounded
.ada-vimeo-rounded
  &:before
    content ada-vimeo-rounded
.ada-vine-rounded
  &:before
    content ada-vine-rounded
.ada-vine-v-rounded
  &:before
    content ada-vine-v-rounded
.ada-vk-rounded
  &:before
    content ada-vk-rounded
.ada-wayn-rounded
  &:before
    content ada-wayn-rounded
.ada-weeworld-rounded
  &:before
    content ada-weeworld-rounded
.ada-weheartit-rounded
  &:before
    content ada-weheartit-rounded
.ada-weibo-rounded
  &:before
    content ada-weibo-rounded
.ada-widbook-rounded
  &:before
    content ada-widbook-rounded
.ada-wikiloc-rounded
  &:before
    content ada-wikiloc-rounded
.ada-wikipedia-w-rounded
  &:before
    content ada-wikipedia-w-rounded
.ada-wikipedia-rounded
  &:before
    content ada-wikipedia-rounded
.ada-wordpress-rounded
  &:before
    content ada-wordpress-rounded
.ada-xanga-x-rounded
  &:before
    content ada-xanga-x-rounded
.ada-xanga-rounded
  &:before
    content ada-xanga-rounded
.ada-xiami-rounded
  &:before
    content ada-xiami-rounded
.ada-xing-rounded
  &:before
    content ada-xing-rounded
.ada-yelp-rounded
  &:before
    content ada-yelp-rounded
.ada-youku-rounded
  &:before
    content ada-youku-rounded
.ada-yoursphere-rounded
  &:before
    content ada-yoursphere-rounded
.ada-youtube-name-rounded
  &:before
    content ada-youtube-name-rounded
.ada-youtube-rounded
  &:before
    content ada-youtube-rounded
.ada-yupoo-rounded
  &:before
    content ada-yupoo-rounded
.ada-zorpia-rounded
  &:before
    content ada-zorpia-rounded
.ada-51on
  &:before
    content ada-51on
.ada-56
  &:before
    content ada-56
.ada-px
  &:before
    content ada-px
.ada-500px
  &:before
    content ada-500px
.ada-ads-of-the-world
  &:before
    content ada-ads-of-the-world
.ada-ads
  &:before
    content ada-ads
.ada-arte10
  &:before
    content ada-arte10
.ada-ashley-madison
  &:before
    content ada-ashley-madison
.ada-asmallworld
  &:before
    content ada-asmallworld
.ada-badoo
  &:before
    content ada-badoo
.ada-baidu
  &:before
    content ada-baidu
.ada-bananity
  &:before
    content ada-bananity
.ada-bandcamp
  &:before
    content ada-bandcamp
.ada-bebo
  &:before
    content ada-bebo
.ada-behance
  &:before
    content ada-behance
.ada-bettercodes
  &:before
    content ada-bettercodes
.ada-bisquits
  &:before
    content ada-bisquits
.ada-bitacoras
  &:before
    content ada-bitacoras
.ada-bitacoras-b
  &:before
    content ada-bitacoras-b
.ada-blackplanet
  &:before
    content ada-blackplanet
.ada-blogbus
  &:before
    content ada-blogbus
.ada-blogger
  &:before
    content ada-blogger
.ada-bloson
  &:before
    content ada-bloson
.ada-bola-a
  &:before
    content ada-bola-a
.ada-buzznet
  &:before
    content ada-buzznet
.ada-cafemom
  &:before
    content ada-cafemom
.ada-care2
  &:before
    content ada-care2
.ada-caringbridge
  &:before
    content ada-caringbridge
.ada-cellufun
  &:before
    content ada-cellufun
.ada-citeulike
  &:before
    content ada-citeulike
.ada-classmates
  &:before
    content ada-classmates
.ada-club-dante
  &:before
    content ada-club-dante
.ada-coderwall
  &:before
    content ada-coderwall
.ada-colourlovers
  &:before
    content ada-colourlovers
.ada-coroflot
  &:before
    content ada-coroflot
.ada-couchsurfing
  &:before
    content ada-couchsurfing
.ada-creattica
  &:before
    content ada-creattica
.ada-cross-tv
  &:before
    content ada-cross-tv
.ada-dailymotion
  &:before
    content ada-dailymotion
.ada-deezer
  &:before
    content ada-deezer
.ada-delicious
  &:before
    content ada-delicious
.ada-desarrollo
  &:before
    content ada-desarrollo
.ada-designrelated
  &:before
    content ada-designrelated
.ada-deviantart
  &:before
    content ada-deviantart
.ada-digg
  &:before
    content ada-digg
.ada-digg-name
  &:before
    content ada-digg-name
.ada-divoblogger
  &:before
    content ada-divoblogger
.ada-doodle-ly
  &:before
    content ada-doodle-ly
.ada-douban
  &:before
    content ada-douban
.ada-dribbble
  &:before
    content ada-dribbble
.ada-ebay
  &:before
    content ada-ebay
.ada-etsy
  &:before
    content ada-etsy
.ada-everloop
  &:before
    content ada-everloop
.ada-ex-fm
  &:before
    content ada-ex-fm
.ada-eyeem
  &:before
    content ada-eyeem
.ada-facebook
  &:before
    content ada-facebook
.ada-fanlala
  &:before
    content ada-fanlala
.ada-flickr
  &:before
    content ada-flickr
.ada-flipkart
  &:before
    content ada-flipkart
.ada-flixster
  &:before
    content ada-flixster
.ada-fod-social
  &:before
    content ada-fod-social
.ada-fontli
  &:before
    content ada-fontli
.ada-fotki
  &:before
    content ada-fotki
.ada-fotolog
  &:before
    content ada-fotolog
.ada-foursquare
  &:before
    content ada-foursquare
.ada-friendster
  &:before
    content ada-friendster
.ada-funny-or-die
  &:before
    content ada-funny-or-die
.ada-gaiaonline
  &:before
    content ada-gaiaonline
.ada-gather
  &:before
    content ada-gather
.ada-geni-social
  &:before
    content ada-geni-social
.ada-geonick
  &:before
    content ada-geonick
.ada-glipho
  &:before
    content ada-glipho
.ada-glogster
  &:before
    content ada-glogster
.ada-g-plus
  &:before
    content ada-g-plus
.ada-grooveshark
  &:before
    content ada-grooveshark
.ada-grou-ps
  &:before
    content ada-grou-ps
.ada-habbo
  &:before
    content ada-habbo
.ada-habbo-h
  &:before
    content ada-habbo-h
.ada-heello
  &:before
    content ada-heello
.ada-hexun
  &:before
    content ada-hexun
.ada-hi5
  &:before
    content ada-hi5
.ada-hipstamatic
  &:before
    content ada-hipstamatic
.ada-hubbub
  &:before
    content ada-hubbub
.ada-inside-the-hotel
  &:before
    content ada-inside-the-hotel
.ada-instagram
  &:before
    content ada-instagram
.ada-intellectconnect
  &:before
    content ada-intellectconnect
.ada-iqyi
  &:before
    content ada-iqyi
.ada-itsmy
  &:before
    content ada-itsmy
.ada-itsmy-name
  &:before
    content ada-itsmy-name
.ada-jiepang
  &:before
    content ada-jiepang
.ada-jux
  &:before
    content ada-jux
.ada-kaixin101
  &:before
    content ada-kaixin101
.ada-kiwibox
  &:before
    content ada-kiwibox
.ada-ku6
  &:before
    content ada-ku6
.ada-last-fm
  &:before
    content ada-last-fm
.ada-linkedin
  &:before
    content ada-linkedin
.ada-literatura-nova
  &:before
    content ada-literatura-nova
.ada-meetic
  &:before
    content ada-meetic
.ada-meetme
  &:before
    content ada-meetme
.ada-meetup
  &:before
    content ada-meetup
.ada-meetyourfriends
  &:before
    content ada-meetyourfriends
.ada-meneame
  &:before
    content ada-meneame
.ada-metacafe
  &:before
    content ada-metacafe
.ada-mixi
  &:before
    content ada-mixi
.ada-mocospace
  &:before
    content ada-mocospace
.ada-myfolio
  &:before
    content ada-myfolio
.ada-my-heritage
  &:before
    content ada-my-heritage
.ada-my-life
  &:before
    content ada-my-life
.ada-my-life-m
  &:before
    content ada-my-life-m
.ada-my-space
  &:before
    content ada-my-space
.ada-myspace-name
  &:before
    content ada-myspace-name
.ada-ning
  &:before
    content ada-ning
.ada-nk
  &:before
    content ada-nk
.ada-notasweb
  &:before
    content ada-notasweb
.ada-odnoklassniki
  &:before
    content ada-odnoklassniki
.ada-orkut
  &:before
    content ada-orkut
.ada-p1
  &:before
    content ada-p1
.ada-panamo
  &:before
    content ada-panamo
.ada-path
  &:before
    content ada-path
.ada-pengyu
  &:before
    content ada-pengyu
.ada-pheed
  &:before
    content ada-pheed
.ada-pictify
  &:before
    content ada-pictify
.ada-pinspire
  &:before
    content ada-pinspire
.ada-pinstagram
  &:before
    content ada-pinstagram
.ada-pinterest
  &:before
    content ada-pinterest
.ada-podio
  &:before
    content ada-podio
.ada-qq
  &:before
    content ada-qq
.ada-questionity
  &:before
    content ada-questionity
.ada-qzone
  &:before
    content ada-qzone
.ada-ravelry
  &:before
    content ada-ravelry
.ada-ravelry-r
  &:before
    content ada-ravelry-r
.ada-redalyc
  &:before
    content ada-redalyc
.ada-reddit-r
  &:before
    content ada-reddit-r
.ada-reddit
  &:before
    content ada-reddit
.ada-rendezvous
  &:before
    content ada-rendezvous
.ada-renren
  &:before
    content ada-renren
.ada-researchgate
  &:before
    content ada-researchgate
.ada-reverbnation
  &:before
    content ada-reverbnation
.ada-ryze
  &:before
    content ada-ryze
.ada-ryze-r
  &:before
    content ada-ryze-r
.ada-scoop-it-s
  &:before
    content ada-scoop-it-s
.ada-scoop-it
  &:before
    content ada-scoop-it
.ada-scribd
  &:before
    content ada-scribd
.ada-sina-name
  &:before
    content ada-sina-name
.ada-sina
  &:before
    content ada-sina
.ada-skyrock
  &:before
    content ada-skyrock
.ada-slideshare
  &:before
    content ada-slideshare
.ada-socialcam
  &:before
    content ada-socialcam
.ada-sonico
  &:before
    content ada-sonico
.ada-sonico-smail
  &:before
    content ada-sonico-smail
.ada-soundcloud
  &:before
    content ada-soundcloud
.ada-spotbros
  &:before
    content ada-spotbros
.ada-spotify
  &:before
    content ada-spotify
.ada-studivz
  &:before
    content ada-studivz
.ada-stumbleupon
  &:before
    content ada-stumbleupon
.ada-symbaloo
  &:before
    content ada-symbaloo
.ada-tadaa
  &:before
    content ada-tadaa
.ada-tagged
  &:before
    content ada-tagged
.ada-tagworld
  &:before
    content ada-tagworld
.ada-taringa
  &:before
    content ada-taringa
.ada-telly
  &:before
    content ada-telly
.ada-tencent
  &:before
    content ada-tencent
.ada-threadless
  &:before
    content ada-threadless
.ada-tianji
  &:before
    content ada-tianji
.ada-travbuddy
  &:before
    content ada-travbuddy
.ada-tribe
  &:before
    content ada-tribe
.ada-tripadvisor
  &:before
    content ada-tripadvisor
.ada-tudou-logo
  &:before
    content ada-tudou-logo
.ada-tuenti
  &:before
    content ada-tuenti
.ada-tumblr
  &:before
    content ada-tumblr
.ada-tu-tv
  &:before
    content ada-tu-tv
.ada-tv-tag
  &:before
    content ada-tv-tag
.ada-twitpic
  &:before
    content ada-twitpic
.ada-twitter-t
  &:before
    content ada-twitter-t
.ada-twitter
  &:before
    content ada-twitter
.ada-twoo
  &:before
    content ada-twoo
.ada-typophile
  &:before
    content ada-typophile
.ada-ushi
  &:before
    content ada-ushi
.ada-vampirefreaks
  &:before
    content ada-vampirefreaks
.ada-viadeo
  &:before
    content ada-viadeo
.ada-viddy
  &:before
    content ada-viddy
.ada-vimeo
  &:before
    content ada-vimeo
.ada-vine
  &:before
    content ada-vine
.ada-vine-v
  &:before
    content ada-vine-v
.ada-vk
  &:before
    content ada-vk
.ada-wayn
  &:before
    content ada-wayn
.ada-weeworld
  &:before
    content ada-weeworld
.ada-weheartit
  &:before
    content ada-weheartit
.ada-weibo
  &:before
    content ada-weibo
.ada-widbook
  &:before
    content ada-widbook
.ada-wikiloc
  &:before
    content ada-wikiloc
.ada-wikipedia-w
  &:before
    content ada-wikipedia-w
.ada-wikipediawikipedia
  &:before
    content ada-wikipediawikipedia
.ada-wordpress
  &:before
    content ada-wordpress
.ada-xanga-name
  &:before
    content ada-xanga-name
.ada-xanga
  &:before
    content ada-xanga
.ada-xiami
  &:before
    content ada-xiami
.ada-xing
  &:before
    content ada-xing
.ada-yelp
  &:before
    content ada-yelp
.ada-youku
  &:before
    content ada-youku
.ada-yoursphere
  &:before
    content ada-yoursphere
.ada-youtube-name
  &:before
    content ada-youtube-name
.ada-youtube
  &:before
    content ada-youtube
.ada-yupoo
  &:before
    content ada-yupoo
.ada-zorpia
  &:before
    content ada-zorpia
.ada-d-pie-graphic-without-quarter-part-outline-symbol
  &:before
    content ada-d-pie-graphic-without-quarter-part-outline-symbol
.ada-abacus
  &:before
    content ada-abacus
.ada-abacus-1
  &:before
    content ada-abacus-1
.ada-alert
  &:before
    content ada-alert
.ada-alert-sign
  &:before
    content ada-alert-sign
.ada-alert-symbol
  &:before
    content ada-alert-symbol
.ada-alien-black-head-shape
  &:before
    content ada-alien-black-head-shape
.ada-alien-creature
  &:before
    content ada-alien-creature
.ada-answer
  &:before
    content ada-answer
.ada-antenna-for-signal-reception
  &:before
    content ada-antenna-for-signal-reception
.ada-antennas
  &:before
    content ada-antennas
.ada-arrows-triangle
  &:before
    content ada-arrows-triangle
.ada-art-and-design
  &:before
    content ada-art-and-design
.ada-atom
  &:before
    content ada-atom
.ada-atom-1
  &:before
    content ada-atom-1
.ada-atom-circular-symbol-of-circles
  &:before
    content ada-atom-circular-symbol-of-circles
.ada-atoms
  &:before
    content ada-atoms
.ada-atom-science-bottle
  &:before
    content ada-atom-science-bottle
.ada-atom-symbol-in-man-head
  &:before
    content ada-atom-symbol-in-man-head
.ada-backpack
  &:before
    content ada-backpack
.ada-bacteria
  &:before
    content ada-bacteria
.ada-bald-male-head-side-view-with-letters-inside
  &:before
    content ada-bald-male-head-side-view-with-letters-inside
.ada-binary-code-numbers-on-monitor-screen
  &:before
    content ada-binary-code-numbers-on-monitor-screen
.ada-black-hole
  &:before
    content ada-black-hole
.ada-black-portfolio
  &:before
    content ada-black-portfolio
.ada-book
  &:before
    content ada-book
.ada-book-1
  &:before
    content ada-book-1
.ada-book-2
  &:before
    content ada-book-2
.ada-book-opened-symbol
  &:before
    content ada-book-opened-symbol
.ada-books
  &:before
    content ada-books
.ada-books-1
  &:before
    content ada-books-1
.ada-bookshelf
  &:before
    content ada-bookshelf
.ada-books-stack-from-top-view
  &:before
    content ada-books-stack-from-top-view
.ada-bowl
  &:before
    content ada-bowl
.ada-brain
  &:before
    content ada-brain
.ada-browser
  &:before
    content ada-browser
.ada-calculator
  &:before
    content ada-calculator
.ada-calendar
  &:before
    content ada-calendar
.ada-cell
  &:before
    content ada-cell
.ada-cell-analysis
  &:before
    content ada-cell-analysis
.ada-certificate
  &:before
    content ada-certificate
.ada-chemical-utensils
  &:before
    content ada-chemical-utensils
.ada-chemistry-bottle-with-liquid
  &:before
    content ada-chemistry-bottle-with-liquid
.ada-chimney
  &:before
    content ada-chimney
.ada-comet
  &:before
    content ada-comet
.ada-computer
  &:before
    content ada-computer
.ada-computer-1
  &:before
    content ada-computer-1
.ada-computer-2
  &:before
    content ada-computer-2
.ada-computer-analysis
  &:before
    content ada-computer-analysis
.ada-container-outline-of-irregular-shape
  &:before
    content ada-container-outline-of-irregular-shape
.ada-dangerous-liquid-container
  &:before
    content ada-dangerous-liquid-container
.ada-dangerous-substance
  &:before
    content ada-dangerous-substance
.ada-danger-triangular-symbol-with-bolt-sign-inside
  &:before
    content ada-danger-triangular-symbol-with-bolt-sign-inside
.ada-death-in-a-bottle
  &:before
    content ada-death-in-a-bottle
.ada-death-skull-and-bones
  &:before
    content ada-death-skull-and-bones
.ada-drawing-compass-tool
  &:before
    content ada-drawing-compass-tool
.ada-drug-injection
  &:before
    content ada-drug-injection
.ada-earth-globe
  &:before
    content ada-earth-globe
.ada-earth-globe-for-school
  &:before
    content ada-earth-globe-for-school
.ada-earth-globe-tool
  &:before
    content ada-earth-globe-tool
.ada-eclipse
  &:before
    content ada-eclipse
.ada-elegant-antique-building-shape-with-columns
  &:before
    content ada-elegant-antique-building-shape-with-columns
.ada-elevator
  &:before
    content ada-elevator
.ada-exam
  &:before
    content ada-exam
.ada-exam-1
  &:before
    content ada-exam-1
.ada-experimentation-flask-tool
  &:before
    content ada-experimentation-flask-tool
.ada-expert
  &:before
    content ada-expert
.ada-eye-black-shape
  &:before
    content ada-eye-black-shape
.ada-eyedropper
  &:before
    content ada-eyedropper
.ada-eyedropper-tool
  &:before
    content ada-eyedropper-tool
.ada-female-science-expert-with-eyeglasses
  &:before
    content ada-female-science-expert-with-eyeglasses
.ada-fire-flame
  &:before
    content ada-fire-flame
.ada-flag-outline-on-a-pole-with-stars-around
  &:before
    content ada-flag-outline-on-a-pole-with-stars-around
.ada-flask
  &:before
    content ada-flask
.ada-flask-1
  &:before
    content ada-flask-1
.ada-flask-2
  &:before
    content ada-flask-2
.ada-flask-container-outline
  &:before
    content ada-flask-container-outline
.ada-flasks-couple
  &:before
    content ada-flasks-couple
.ada-flasks-couple-of-different-shapes-with-liquids-inside
  &:before
    content ada-flasks-couple-of-different-shapes-with-liquids-inside
.ada-flask-with-liquid
  &:before
    content ada-flask-with-liquid
.ada-flask-with-liquid-and-a-dropper
  &:before
    content ada-flask-with-liquid-and-a-dropper
.ada-fountain-pen
  &:before
    content ada-fountain-pen
.ada-funnel-outline
  &:before
    content ada-funnel-outline
.ada-fused-liquids-falling-drop-from-a-bottle
  &:before
    content ada-fused-liquids-falling-drop-from-a-bottle
.ada-globe-grid
  &:before
    content ada-globe-grid
.ada-graduation
  &:before
    content ada-graduation
.ada-graduation-student-black-cap
  &:before
    content ada-graduation-student-black-cap
.ada-graphic-of-line-with-ups-and-downs
  &:before
    content ada-graphic-of-line-with-ups-and-downs
.ada-hand-and-drop
  &:before
    content ada-hand-and-drop
.ada-heating-a-flask-with-testing-liquid-on-fire-flames
  &:before
    content ada-heating-a-flask-with-testing-liquid-on-fire-flames
.ada-hexagons
  &:before
    content ada-hexagons
.ada-injection
  &:before
    content ada-injection
.ada-labyrinth
  &:before
    content ada-labyrinth
.ada-lamp-light-bulb-outline
  &:before
    content ada-lamp-light-bulb-outline
.ada-laptop-with-energy-mass-equivalence-formula-on-screen
  &:before
    content ada-laptop-with-energy-mass-equivalence-formula-on-screen
.ada-laptop-with-numbers-on-screen
  &:before
    content ada-laptop-with-numbers-on-screen
.ada-learning
  &:before
    content ada-learning
.ada-load-bar
  &:before
    content ada-load-bar
.ada-magnet
  &:before
    content ada-magnet
.ada-magnet-tool
  &:before
    content ada-magnet-tool
.ada-magnet-with-positive-and-negative-poles
  &:before
    content ada-magnet-with-positive-and-negative-poles
.ada-male-brain
  &:before
    content ada-male-brain
.ada-male-head-shape-of-small-squares
  &:before
    content ada-male-head-shape-of-small-squares
.ada-man-black-bald-head-shape-from-side-view
  &:before
    content ada-man-black-bald-head-shape-from-side-view
.ada-man-temperature
  &:before
    content ada-man-temperature
.ada-mass-energy-equivalence
  &:before
    content ada-mass-energy-equivalence
.ada-mathematics
  &:before
    content ada-mathematics
.ada-measuring-and-drawing-tools
  &:before
    content ada-measuring-and-drawing-tools
.ada-microscope
  &:before
    content ada-microscope
.ada-microscope-scientific-tool-side-view
  &:before
    content ada-microscope-scientific-tool-side-view
.ada-microscope-scientific-tool-side-view-1
  &:before
    content ada-microscope-scientific-tool-side-view-1
.ada-microscope-side-view
  &:before
    content ada-microscope-side-view
.ada-milky-way-constellation-stars-shape
  &:before
    content ada-milky-way-constellation-stars-shape
.ada-molecule
  &:before
    content ada-molecule
.ada-molecule-1
  &:before
    content ada-molecule-1
.ada-molecule-2
  &:before
    content ada-molecule-2
.ada-molecule-3
  &:before
    content ada-molecule-3
.ada-molecule-cube-shape
  &:before
    content ada-molecule-cube-shape
.ada-molecule-hexagonal-shapes
  &:before
    content ada-molecule-hexagonal-shapes
.ada-molecule-science-symbol
  &:before
    content ada-molecule-science-symbol
.ada-molecules-hexagonal-shapes
  &:before
    content ada-molecules-hexagonal-shapes
.ada-moons
  &:before
    content ada-moons
.ada-mouse-black-animal
  &:before
    content ada-mouse-black-animal
.ada-night-moon-and-star-shapes
  &:before
    content ada-night-moon-and-star-shapes
.ada-night-sky
  &:before
    content ada-night-sky
.ada-note
  &:before
    content ada-note
.ada-notebook
  &:before
    content ada-notebook
.ada-notebook-1
  &:before
    content ada-notebook-1
.ada-notebook-2
  &:before
    content ada-notebook-2
.ada-notebook-of-black-cover
  &:before
    content ada-notebook-of-black-cover
.ada-orbit
  &:before
    content ada-orbit
.ada-orbit-network-symbol
  &:before
    content ada-orbit-network-symbol
.ada-panel
  &:before
    content ada-panel
.ada-parabolic-antenna
  &:before
    content ada-parabolic-antenna
.ada-pen
  &:before
    content ada-pen
.ada-pencil
  &:before
    content ada-pencil
.ada-pencil-box
  &:before
    content ada-pencil-box
.ada-pencil-box-1
  &:before
    content ada-pencil-box-1
.ada-planet-shape-with-a-ring-around
  &:before
    content ada-planet-shape-with-a-ring-around
.ada-plant-leaves
  &:before
    content ada-plant-leaves
.ada-plant-with-leaves
  &:before
    content ada-plant-with-leaves
.ada-presentation
  &:before
    content ada-presentation
.ada-projector
  &:before
    content ada-projector
.ada-protection-mask
  &:before
    content ada-protection-mask
.ada-puzzle-piece-symbol-inside-of-bald-man-head
  &:before
    content ada-puzzle-piece-symbol-inside-of-bald-man-head
.ada-question
  &:before
    content ada-question
.ada-question-sign-in-bald-head
  &:before
    content ada-question-sign-in-bald-head
.ada-rectangular-eyeglasses
  &:before
    content ada-rectangular-eyeglasses
.ada-robot
  &:before
    content ada-robot
.ada-rocket
  &:before
    content ada-rocket
.ada-rocket-ship
  &:before
    content ada-rocket-ship
.ada-rocket-space-ship
  &:before
    content ada-rocket-space-ship
.ada-rocket-space-ship-1
  &:before
    content ada-rocket-space-ship-1
.ada-ruler
  &:before
    content ada-ruler
.ada-satellite
  &:before
    content ada-satellite
.ada-school-bus
  &:before
    content ada-school-bus
.ada-science-experiment
  &:before
    content ada-science-experiment
.ada-science-graphic-on-a-note
  &:before
    content ada-science-graphic-on-a-note
.ada-science-symbol-of-dna-with-a-magnifier-tool-with-a-question-sign
  &:before
    content ada-science-symbol-of-dna-with-a-magnifier-tool-with-a-question-sign
.ada-science-text
  &:before
    content ada-science-text
.ada-scientific-test-tubes-with-liquids
  &:before
    content ada-scientific-test-tubes-with-liquids
.ada-settings-three-gears-interface-symbol
  &:before
    content ada-settings-three-gears-interface-symbol
.ada-shooting-stars
  &:before
    content ada-shooting-stars
.ada-shooting-star-shape
  &:before
    content ada-shooting-star-shape
.ada-smartphone
  &:before
    content ada-smartphone
.ada-solar-panel
  &:before
    content ada-solar-panel
.ada-space-ship
  &:before
    content ada-space-ship
.ada-space-ship-1
  &:before
    content ada-space-ship-1
.ada-space-ship-2
  &:before
    content ada-space-ship-2
.ada-space-vehicle
  &:before
    content ada-space-vehicle
.ada-star-black-shape-in-a-circle-outline-favourite-interface-symbol
  &:before
    content ada-star-black-shape-in-a-circle-outline-favourite-interface-symbol
.ada-statistics-bars-graphic-hanging-of-a-nail
  &:before
    content ada-statistics-bars-graphic-hanging-of-a-nail
.ada-sun-black-shape-of-a-circle-with-triangles
  &:before
    content ada-sun-black-shape-of-a-circle-with-triangles
.ada-tablet
  &:before
    content ada-tablet
.ada-tablet-1
  &:before
    content ada-tablet-1
.ada-telescope
  &:before
    content ada-telescope
.ada-telescope-1
  &:before
    content ada-telescope-1
.ada-terminal
  &:before
    content ada-terminal
.ada-test
  &:before
    content ada-test
.ada-test-1
  &:before
    content ada-test-1
.ada-testing-tube
  &:before
    content ada-testing-tube
.ada-test-tube
  &:before
    content ada-test-tube
.ada-test-tube-outline
  &:before
    content ada-test-tube-outline
.ada-test-tubes
  &:before
    content ada-test-tubes
.ada-test-tubes-couple
  &:before
    content ada-test-tubes-couple
.ada-test-tube-tool
  &:before
    content ada-test-tube-tool
.ada-text-lines-on-paper
  &:before
    content ada-text-lines-on-paper
.ada-thermometer
  &:before
    content ada-thermometer
.ada-thinking
  &:before
    content ada-thinking
.ada-two-glass-bottles-with-liquid
  &:before
    content ada-two-glass-bottles-with-liquid
.ada-universe-shapes
  &:before
    content ada-universe-shapes
.ada-verified-list-interface-symbol
  &:before
    content ada-verified-list-interface-symbol
.ada-video-player
  &:before
    content ada-video-player
.ada-white-flag-symbol-on-a-pole
  &:before
    content ada-white-flag-symbol-on-a-pole
.ada-zoom
  &:before
    content ada-zoom
.ada-zoom-interface-symbol-variant
  &:before
    content ada-zoom-interface-symbol-variant
.ada-abacus1
  &:before
    content ada-abacus1
.ada-activities
  &:before
    content ada-activities
.ada-alarm-clock
  &:before
    content ada-alarm-clock
.ada-alphabet
  &:before
    content ada-alphabet
.ada-artist
  &:before
    content ada-artist
.ada-audiobook
  &:before
    content ada-audiobook
.ada-backpack1
  &:before
    content ada-backpack1
.ada-bell
  &:before
    content ada-bell
.ada-biology
  &:before
    content ada-biology
.ada-book1
  &:before
    content ada-book1
.ada-book-11
  &:before
    content ada-book-11
.ada-bookshelf1
  &:before
    content ada-bookshelf1
.ada-brainstorming
  &:before
    content ada-brainstorming
.ada-calendar1
  &:before
    content ada-calendar1
.ada-chat
  &:before
    content ada-chat
.ada-chemistry
  &:before
    content ada-chemistry
.ada-chemistry-1
  &:before
    content ada-chemistry-1
.ada-clipboard
  &:before
    content ada-clipboard
.ada-compass
  &:before
    content ada-compass
.ada-cubes
  &:before
    content ada-cubes
.ada-diploma
  &:before
    content ada-diploma
.ada-diploma-1
  &:before
    content ada-diploma-1
.ada-dna
  &:before
    content ada-dna
.ada-earth-globe1
  &:before
    content ada-earth-globe1
.ada-ebook
  &:before
    content ada-ebook
.ada-education
  &:before
    content ada-education
.ada-essay
  &:before
    content ada-essay
.ada-exam1
  &:before
    content ada-exam1
.ada-flask1
  &:before
    content ada-flask1
.ada-flask-11
  &:before
    content ada-flask-11
.ada-flask-21
  &:before
    content ada-flask-21
.ada-international
  &:before
    content ada-international
.ada-laptop
  &:before
    content ada-laptop
.ada-laptop-1
  &:before
    content ada-laptop-1
.ada-line-chart
  &:before
    content ada-line-chart
.ada-medal
  &:before
    content ada-medal
.ada-microphone
  &:before
    content ada-microphone
.ada-microscope1
  &:before
    content ada-microscope1
.ada-mind
  &:before
    content ada-mind
.ada-mortarboard
  &:before
    content ada-mortarboard
.ada-notepad
  &:before
    content ada-notepad
.ada-online-education
  &:before
    content ada-online-education
.ada-open-book
  &:before
    content ada-open-book
.ada-open-book-1
  &:before
    content ada-open-book-1
.ada-open-book-2
  &:before
    content ada-open-book-2
.ada-open-book-3
  &:before
    content ada-open-book-3
.ada-open-book-4
  &:before
    content ada-open-book-4
.ada-open-book-5
  &:before
    content ada-open-book-5
.ada-open-book-6
  &:before
    content ada-open-book-6
.ada-open-book-7
  &:before
    content ada-open-book-7
.ada-owl
  &:before
    content ada-owl
.ada-painter
  &:before
    content ada-painter
.ada-pen1
  &:before
    content ada-pen1
.ada-pen-1
  &:before
    content ada-pen-1
.ada-pen-2
  &:before
    content ada-pen-2
.ada-pencil1
  &:before
    content ada-pencil1
.ada-pencil-1
  &:before
    content ada-pencil-1
.ada-pencil-2
  &:before
    content ada-pencil-2
.ada-pencil-case
  &:before
    content ada-pencil-case
.ada-presentation1
  &:before
    content ada-presentation1
.ada-presentation-1
  &:before
    content ada-presentation-1
.ada-professor1
  &:before
    content ada-professor1
.ada-protractor
  &:before
    content ada-protractor
.ada-quill
  &:before
    content ada-quill
.ada-quill-1
  &:before
    content ada-quill-1
.ada-reading
  &:before
    content ada-reading
.ada-ruler1
  &:before
    content ada-ruler1
.ada-ruler-1
  &:before
    content ada-ruler-1
.ada-scholarship
  &:before
    content ada-scholarship
.ada-school
  &:before
    content ada-school
.ada-school-bell
  &:before
    content ada-school-bell
.ada-science
  &:before
    content ada-science
.ada-set-square
  &:before
    content ada-set-square
.ada-stationery
  &:before
    content ada-stationery
.ada-student
  &:before
    content ada-student
.ada-success
  &:before
    content ada-success
.ada-test1
  &:before
    content ada-test1
.ada-thinking1
  &:before
    content ada-thinking1
.ada-trophies
  &:before
    content ada-trophies
.ada-vector
  &:before
    content ada-vector
.ada-video-player1
  &:before
    content ada-video-player1
.ada-writing
  &:before
    content ada-writing
.ada-apple
  &:before
    content ada-apple
.ada-bag
  &:before
    content ada-bag
.ada-bathtub
  &:before
    content ada-bathtub
.ada-bicycle
  &:before
    content ada-bicycle
.ada-bio
  &:before
    content ada-bio
.ada-biomass
  &:before
    content ada-biomass
.ada-bolt
  &:before
    content ada-bolt
.ada-bottles
  &:before
    content ada-bottles
.ada-butterfly
  &:before
    content ada-butterfly
.ada-cloudy
  &:before
    content ada-cloudy
.ada-co2
  &:before
    content ada-co2
.ada-container
  &:before
    content ada-container
.ada-drop
  &:before
    content ada-drop
.ada-drought
  &:before
    content ada-drought
.ada-eco
  &:before
    content ada-eco
.ada-electric-car
  &:before
    content ada-electric-car
.ada-eolic-energy
  &:before
    content ada-eolic-energy
.ada-factory
  &:before
    content ada-factory
.ada-factory-1
  &:before
    content ada-factory-1
.ada-faucet
  &:before
    content ada-faucet
.ada-flower
  &:before
    content ada-flower
.ada-footprint
  &:before
    content ada-footprint
.ada-garbage
  &:before
    content ada-garbage
.ada-gas-station
  &:before
    content ada-gas-station
.ada-geothermal-energy
  &:before
    content ada-geothermal-energy
.ada-global-warming
  &:before
    content ada-global-warming
.ada-house
  &:before
    content ada-house
.ada-hydraulic-energy
  &:before
    content ada-hydraulic-energy
.ada-irrigation
  &:before
    content ada-irrigation
.ada-leaf
  &:before
    content ada-leaf
.ada-lightbulb
  &:before
    content ada-lightbulb
.ada-light-bulb
  &:before
    content ada-light-bulb
.ada-mountains
  &:before
    content ada-mountains
.ada-nuclear-plant
  &:before
    content ada-nuclear-plant
.ada-ozone-layer
  &:before
    content ada-ozone-layer
.ada-package
  &:before
    content ada-package
.ada-penguin
  &:before
    content ada-penguin
.ada-planet-earth
  &:before
    content ada-planet-earth
.ada-plants
  &:before
    content ada-plants
.ada-radiation
  &:before
    content ada-radiation
.ada-rain
  &:before
    content ada-rain
.ada-raindrops
  &:before
    content ada-raindrops
.ada-recycled-bag
  &:before
    content ada-recycled-bag
.ada-recycled-paper
  &:before
    content ada-recycled-paper
.ada-recycling
  &:before
    content ada-recycling
.ada-renewable
  &:before
    content ada-renewable
.ada-sea
  &:before
    content ada-sea
.ada-solar-panel1
  &:before
    content ada-solar-panel1
.ada-solar-panel-1
  &:before
    content ada-solar-panel-1
.ada-sprout
  &:before
    content ada-sprout
.ada-sun
  &:before
    content ada-sun
.ada-thaw
  &:before
    content ada-thaw
.ada-tree
  &:before
    content ada-tree
.ada-trees
  &:before
    content ada-trees
.ada-truck
  &:before
    content ada-truck
.ada-whale
  &:before
    content ada-whale
.ada-wind
  &:before
    content ada-wind
.ada-windmill
  &:before
    content ada-windmill
.ada-wind-turbine
  &:before
    content ada-wind-turbine
.ada-world
  &:before
    content ada-world
.ada-worldwide
  &:before
    content ada-worldwide
.ada-worldwide-1
  &:before
    content ada-worldwide-1
.ada-apple1
  &:before
    content ada-apple1
.ada-apple-1
  &:before
    content ada-apple-1
.ada-apple-and-grapes-on-a-bowl
  &:before
    content ada-apple-and-grapes-on-a-bowl
.ada-apple-cut-in-half-with-visible-seeds
  &:before
    content ada-apple-cut-in-half-with-visible-seeds
.ada-apple-jam
  &:before
    content ada-apple-jam
.ada-apple-with-stem-and-leaf
  &:before
    content ada-apple-with-stem-and-leaf
.ada-avocado
  &:before
    content ada-avocado
.ada-barbacue-utensils
  &:before
    content ada-barbacue-utensils
.ada-barbecue
  &:before
    content ada-barbecue
.ada-barbecue-grill
  &:before
    content ada-barbecue-grill
.ada-beer
  &:before
    content ada-beer
.ada-beer-in-glass-and-bottle
  &:before
    content ada-beer-in-glass-and-bottle
.ada-beer-pint
  &:before
    content ada-beer-pint
.ada-birthday-cake
  &:before
    content ada-birthday-cake
.ada-birthday-cake-1
  &:before
    content ada-birthday-cake-1
.ada-birthday-cake-2
  &:before
    content ada-birthday-cake-2
.ada-birthday-cake-3
  &:before
    content ada-birthday-cake-3
.ada-blender
  &:before
    content ada-blender
.ada-boiled-egg
  &:before
    content ada-boiled-egg
.ada-bone
  &:before
    content ada-bone
.ada-bottle
  &:before
    content ada-bottle
.ada-bowl-of-hot-soup-on-a-plate
  &:before
    content ada-bowl-of-hot-soup-on-a-plate
.ada-bread
  &:before
    content ada-bread
.ada-bread-1
  &:before
    content ada-bread-1
.ada-brochette
  &:before
    content ada-brochette
.ada-brochette-1
  &:before
    content ada-brochette-1
.ada-brochette-2
  &:before
    content ada-brochette-2
.ada-brochette-3
  &:before
    content ada-brochette-3
.ada-burger-and-soda-with-straw
  &:before
    content ada-burger-and-soda-with-straw
.ada-cabbage
  &:before
    content ada-cabbage
.ada-cake
  &:before
    content ada-cake
.ada-cake-slice
  &:before
    content ada-cake-slice
.ada-cake-slice-1
  &:before
    content ada-cake-slice-1
.ada-candy
  &:before
    content ada-candy
.ada-candy-1
  &:before
    content ada-candy-1
.ada-candy-2
  &:before
    content ada-candy-2
.ada-carrot
  &:before
    content ada-carrot
.ada-champagne
  &:before
    content ada-champagne
.ada-champagne-1
  &:before
    content ada-champagne-1
.ada-champagne-2
  &:before
    content ada-champagne-2
.ada-champagne-3
  &:before
    content ada-champagne-3
.ada-champagne-4
  &:before
    content ada-champagne-4
.ada-champagne-5
  &:before
    content ada-champagne-5
.ada-champagne-glass
  &:before
    content ada-champagne-glass
.ada-cheers
  &:before
    content ada-cheers
.ada-cheese
  &:before
    content ada-cheese
.ada-cheese-with-little-cutted-triangular-piece
  &:before
    content ada-cheese-with-little-cutted-triangular-piece
.ada-chef1
  &:before
    content ada-chef1
.ada-chef-hat
  &:before
    content ada-chef-hat
.ada-chef-with-hat
  &:before
    content ada-chef-with-hat
.ada-cherries
  &:before
    content ada-cherries
.ada-cherries-1
  &:before
    content ada-cherries-1
.ada-cherries-with-stem
  &:before
    content ada-cherries-with-stem
.ada-chicken-leg
  &:before
    content ada-chicken-leg
.ada-chicken-leg-1
  &:before
    content ada-chicken-leg-1
.ada-chocolate
  &:before
    content ada-chocolate
.ada-chocolate-donut-with-sprinkles
  &:before
    content ada-chocolate-donut-with-sprinkles
.ada-cocktail
  &:before
    content ada-cocktail
.ada-cocktail-drink-with-stirrer
  &:before
    content ada-cocktail-drink-with-stirrer
.ada-coffee-beans
  &:before
    content ada-coffee-beans
.ada-coffee-cup
  &:before
    content ada-coffee-cup
.ada-coffee-cup-1
  &:before
    content ada-coffee-cup-1
.ada-coffee-cup-2
  &:before
    content ada-coffee-cup-2
.ada-coffee-cup-3
  &:before
    content ada-coffee-cup-3
.ada-coffee-grinder
  &:before
    content ada-coffee-grinder
.ada-coffee-jar
  &:before
    content ada-coffee-jar
.ada-coffee-jar-and-filter
  &:before
    content ada-coffee-jar-and-filter
.ada-coffee-machine
  &:before
    content ada-coffee-machine
.ada-coffee-maker-machine
  &:before
    content ada-coffee-maker-machine
.ada-cookie
  &:before
    content ada-cookie
.ada-cookie-1
  &:before
    content ada-cookie-1
.ada-cookie-2
  &:before
    content ada-cookie-2
.ada-cooking-food-in-a-hot-casserole
  &:before
    content ada-cooking-food-in-a-hot-casserole
.ada-corn-with-leaves
  &:before
    content ada-corn-with-leaves
.ada-croissant
  &:before
    content ada-croissant
.ada-cucumber
  &:before
    content ada-cucumber
.ada-cucumber-1
  &:before
    content ada-cucumber-1
.ada-cucumber-cut-in-half
  &:before
    content ada-cucumber-cut-in-half
.ada-cupcake
  &:before
    content ada-cupcake
.ada-cupcake-1
  &:before
    content ada-cupcake-1
.ada-cupcake-dessert
  &:before
    content ada-cupcake-dessert
.ada-cutlery
  &:before
    content ada-cutlery
.ada-dining-meal-covered
  &:before
    content ada-dining-meal-covered
.ada-dish-cover
  &:before
    content ada-dish-cover
.ada-doughnut
  &:before
    content ada-doughnut
.ada-doughnut-1
  &:before
    content ada-doughnut-1
.ada-doughnut-2
  &:before
    content ada-doughnut-2
.ada-doughnut-3
  &:before
    content ada-doughnut-3
.ada-doughnut-4
  &:before
    content ada-doughnut-4
.ada-doughnut-5
  &:before
    content ada-doughnut-5
.ada-doughnut-6
  &:before
    content ada-doughnut-6
.ada-doughnut-7
  &:before
    content ada-doughnut-7
.ada-easter-egg
  &:before
    content ada-easter-egg
.ada-egg
  &:before
    content ada-egg
.ada-eggplant
  &:before
    content ada-eggplant
.ada-eggplant-rotated-to-left
  &:before
    content ada-eggplant-rotated-to-left
.ada-eggs
  &:before
    content ada-eggs
.ada-eggs-1
  &:before
    content ada-eggs-1
.ada-eggs-2
  &:before
    content ada-eggs-2
.ada-fast-food
  &:before
    content ada-fast-food
.ada-faucet1
  &:before
    content ada-faucet1
.ada-feeder
  &:before
    content ada-feeder
.ada-feeder-1
  &:before
    content ada-feeder-1
.ada-feeder-2
  &:before
    content ada-feeder-2
.ada-fire-flames
  &:before
    content ada-fire-flames
.ada-fish-tail-bone
  &:before
    content ada-fish-tail-bone
.ada-flour
  &:before
    content ada-flour
.ada-food-observation
  &:before
    content ada-food-observation
.ada-food-on-a-stick
  &:before
    content ada-food-on-a-stick
.ada-french-fries
  &:before
    content ada-french-fries
.ada-french-fries-on-container
  &:before
    content ada-french-fries-on-container
.ada-fresh-carrot
  &:before
    content ada-fresh-carrot
.ada-fridge
  &:before
    content ada-fridge
.ada-fried-chicken-leg-on-a-plate
  &:before
    content ada-fried-chicken-leg-on-a-plate
.ada-fried-egg
  &:before
    content ada-fried-egg
.ada-garlic
  &:before
    content ada-garlic
.ada-giant-pumpkin
  &:before
    content ada-giant-pumpkin
.ada-glass-of-wine-and-bottle
  &:before
    content ada-glass-of-wine-and-bottle
.ada-grapefruit
  &:before
    content ada-grapefruit
.ada-grapefruit-1
  &:before
    content ada-grapefruit-1
.ada-grapes-and-pear-on-a-platter
  &:before
    content ada-grapes-and-pear-on-a-platter
.ada-grapes-with-leaf-and-stem
  &:before
    content ada-grapes-with-leaf-and-stem
.ada-grill
  &:before
    content ada-grill
.ada-grill-1
  &:before
    content ada-grill-1
.ada-groceries
  &:before
    content ada-groceries
.ada-half-avocado
  &:before
    content ada-half-avocado
.ada-half-lemon
  &:before
    content ada-half-lemon
.ada-hamburger
  &:before
    content ada-hamburger
.ada-hamburger-1
  &:before
    content ada-hamburger-1
.ada-hamburger-2
  &:before
    content ada-hamburger-2
.ada-hamburger-3
  &:before
    content ada-hamburger-3
.ada-hamburger-with-sesame-seeds
  &:before
    content ada-hamburger-with-sesame-seeds
.ada-heating-pad
  &:before
    content ada-heating-pad
.ada-horizontal-lemon
  &:before
    content ada-horizontal-lemon
.ada-hot-bread-with-smoke
  &:before
    content ada-hot-bread-with-smoke
.ada-hot-coffee-on-a-tall-paper-cup
  &:before
    content ada-hot-coffee-on-a-tall-paper-cup
.ada-hot-dog
  &:before
    content ada-hot-dog
.ada-hot-dogs-package
  &:before
    content ada-hot-dogs-package
.ada-hot-dog-with-sauce-and-bread
  &:before
    content ada-hot-dog-with-sauce-and-bread
.ada-hot-drink
  &:before
    content ada-hot-drink
.ada-hot-drink-on-a-cup-button
  &:before
    content ada-hot-drink-on-a-cup-button
.ada-hot-fish
  &:before
    content ada-hot-fish
.ada-hot-fish-bone
  &:before
    content ada-hot-fish-bone
.ada-hot-kitchen-pot
  &:before
    content ada-hot-kitchen-pot
.ada-hot-meal-sign
  &:before
    content ada-hot-meal-sign
.ada-hot-pepper
  &:before
    content ada-hot-pepper
.ada-hot-pot
  &:before
    content ada-hot-pot
.ada-hot-soup
  &:before
    content ada-hot-soup
.ada-ice-cream
  &:before
    content ada-ice-cream
.ada-ice-cream-1
  &:before
    content ada-ice-cream-1
.ada-ice-cream-2
  &:before
    content ada-ice-cream-2
.ada-ice-cream-3
  &:before
    content ada-ice-cream-3
.ada-ice-cream-4
  &:before
    content ada-ice-cream-4
.ada-ice-cream-5
  &:before
    content ada-ice-cream-5
.ada-ice-cream-6
  &:before
    content ada-ice-cream-6
.ada-ice-cream-7
  &:before
    content ada-ice-cream-7
.ada-ice-cream-cone
  &:before
    content ada-ice-cream-cone
.ada-icecream-cup
  &:before
    content ada-icecream-cup
.ada-ice-cream-in-glass
  &:before
    content ada-ice-cream-in-glass
.ada-ice-lolly
  &:before
    content ada-ice-lolly
.ada-ice-lolly-1
  &:before
    content ada-ice-lolly-1
.ada-ice-lolly-2
  &:before
    content ada-ice-lolly-2
.ada-ice-lolly-3
  &:before
    content ada-ice-lolly-3
.ada-ice-lolly-4
  &:before
    content ada-ice-lolly-4
.ada-ice-lolly-5
  &:before
    content ada-ice-lolly-5
.ada-ice-lolly-6
  &:before
    content ada-ice-lolly-6
.ada-ice-lolly-7
  &:before
    content ada-ice-lolly-7
.ada-leaves-of-herbs
  &:before
    content ada-leaves-of-herbs
.ada-lemonade
  &:before
    content ada-lemonade
.ada-lemon-slice
  &:before
    content ada-lemon-slice
.ada-loaves-of-bread
  &:before
    content ada-loaves-of-bread
.ada-lollipop
  &:before
    content ada-lollipop
.ada-lollipop-1
  &:before
    content ada-lollipop-1
.ada-lollipop-2
  &:before
    content ada-lollipop-2
.ada-lollipop-3
  &:before
    content ada-lollipop-3
.ada-lollipop-4
  &:before
    content ada-lollipop-4
.ada-long-cofee-pot
  &:before
    content ada-long-cofee-pot
.ada-meal
  &:before
    content ada-meal
.ada-meat
  &:before
    content ada-meat
.ada-meat-slice
  &:before
    content ada-meat-slice
.ada-melon
  &:before
    content ada-melon
.ada-menu
  &:before
    content ada-menu
.ada-milk
  &:before
    content ada-milk
.ada-milk-1
  &:before
    content ada-milk-1
.ada-milk-jar-with-label
  &:before
    content ada-milk-jar-with-label
.ada-milk-package
  &:before
    content ada-milk-package
.ada-mitten
  &:before
    content ada-mitten
.ada-mixer
  &:before
    content ada-mixer
.ada-muffin
  &:before
    content ada-muffin
.ada-muffin-1
  &:before
    content ada-muffin-1
.ada-muffin-2
  &:before
    content ada-muffin-2
.ada-muffin-3
  &:before
    content ada-muffin-3
.ada-mushroom
  &:before
    content ada-mushroom
.ada-noodles
  &:before
    content ada-noodles
.ada-noodles-1
  &:before
    content ada-noodles-1
.ada-noodles-2
  &:before
    content ada-noodles-2
.ada-noodle-soup-on-a-bowl
  &:before
    content ada-noodle-soup-on-a-bowl
.ada-nut
  &:before
    content ada-nut
.ada-olive
  &:before
    content ada-olive
.ada-olive-oil
  &:before
    content ada-olive-oil
.ada-onion
  &:before
    content ada-onion
.ada-onion-bulb
  &:before
    content ada-onion-bulb
.ada-onion-bulb-1
  &:before
    content ada-onion-bulb-1
.ada-opened-peas
  &:before
    content ada-opened-peas
.ada-orange
  &:before
    content ada-orange
.ada-orange-1
  &:before
    content ada-orange-1
.ada-orange-2
  &:before
    content ada-orange-2
.ada-orange-with-leaf
  &:before
    content ada-orange-with-leaf
.ada-packed-sausage
  &:before
    content ada-packed-sausage
.ada-pair-of-gloves
  &:before
    content ada-pair-of-gloves
.ada-paper-cupcake
  &:before
    content ada-paper-cupcake
.ada-peach-piece
  &:before
    content ada-peach-piece
.ada-pear
  &:before
    content ada-pear
.ada-peeler
  &:before
    content ada-peeler
.ada-pepper
  &:before
    content ada-pepper
.ada-pitcher
  &:before
    content ada-pitcher
.ada-pitcher-1
  &:before
    content ada-pitcher-1
.ada-pizza
  &:before
    content ada-pizza
.ada-pizza-1
  &:before
    content ada-pizza-1
.ada-pizza-2
  &:before
    content ada-pizza-2
.ada-pizza-3
  &:before
    content ada-pizza-3
.ada-pot
  &:before
    content ada-pot
.ada-pot-1
  &:before
    content ada-pot-1
.ada-pot-2
  &:before
    content ada-pot-2
.ada-pot-3
  &:before
    content ada-pot-3
.ada-preserved-in-a-bottle
  &:before
    content ada-preserved-in-a-bottle
.ada-pumpkin
  &:before
    content ada-pumpkin
.ada-restaurant
  &:before
    content ada-restaurant
.ada-restaurant-1
  &:before
    content ada-restaurant-1
.ada-restaurant-2
  &:before
    content ada-restaurant-2
.ada-restaurant-menu-card
  &:before
    content ada-restaurant-menu-card
.ada-restaurant-utensils
  &:before
    content ada-restaurant-utensils
.ada-rice
  &:before
    content ada-rice
.ada-rice-1
  &:before
    content ada-rice-1
.ada-rice-bowl-with-chopsticks
  &:before
    content ada-rice-bowl-with-chopsticks
.ada-roast-chicken
  &:before
    content ada-roast-chicken
.ada-roast-chicken-1
  &:before
    content ada-roast-chicken-1
.ada-salmon
  &:before
    content ada-salmon
.ada-sausage
  &:before
    content ada-sausage
.ada-sausage-1
  &:before
    content ada-sausage-1
.ada-sausage-2
  &:before
    content ada-sausage-2
.ada-sausage-on-a-fork
  &:before
    content ada-sausage-on-a-fork
.ada-sausage-on-a-fork-1
  &:before
    content ada-sausage-on-a-fork-1
.ada-shop
  &:before
    content ada-shop
.ada-shop-1
  &:before
    content ada-shop-1
.ada-small-mushroom
  &:before
    content ada-small-mushroom
.ada-snack
  &:before
    content ada-snack
.ada-soft-drink
  &:before
    content ada-soft-drink
.ada-soft-drink-1
  &:before
    content ada-soft-drink-1
.ada-soft-drink-2
  &:before
    content ada-soft-drink-2
.ada-soft-drink-3
  &:before
    content ada-soft-drink-3
.ada-soft-drink-4
  &:before
    content ada-soft-drink-4
.ada-soup
  &:before
    content ada-soup
.ada-soup-1
  &:before
    content ada-soup-1
.ada-soup-2
  &:before
    content ada-soup-2
.ada-soup-3
  &:before
    content ada-soup-3
.ada-soup-4
  &:before
    content ada-soup-4
.ada-soup-5
  &:before
    content ada-soup-5
.ada-soup-6
  &:before
    content ada-soup-6
.ada-soup-7
  &:before
    content ada-soup-7
.ada-soup-8
  &:before
    content ada-soup-8
.ada-soup-9
  &:before
    content ada-soup-9
.ada-soup-ladle
  &:before
    content ada-soup-ladle
.ada-spatula
  &:before
    content ada-spatula
.ada-spoon-and-fork-upside-down
  &:before
    content ada-spoon-and-fork-upside-down
.ada-squeezer
  &:before
    content ada-squeezer
.ada-squid
  &:before
    content ada-squid
.ada-strawberry
  &:before
    content ada-strawberry
.ada-sugar
  &:before
    content ada-sugar
.ada-sushi
  &:before
    content ada-sushi
.ada-sushi-platter-with-chopsticks
  &:before
    content ada-sushi-platter-with-chopsticks
.ada-syrup
  &:before
    content ada-syrup
.ada-syrup-1
  &:before
    content ada-syrup-1
.ada-taco
  &:before
    content ada-taco
.ada-take-away-tacos
  &:before
    content ada-take-away-tacos
.ada-tea-bag-with-tag
  &:before
    content ada-tea-bag-with-tag
.ada-teapot-and-cup
  &:before
    content ada-teapot-and-cup
.ada-three-balls-ice-cream-cone
  &:before
    content ada-three-balls-ice-cream-cone
.ada-three-bananas
  &:before
    content ada-three-bananas
.ada-toast
  &:before
    content ada-toast
.ada-toast-1
  &:before
    content ada-toast-1
.ada-tomato
  &:before
    content ada-tomato
.ada-tomato-healthy-veggie
  &:before
    content ada-tomato-healthy-veggie
.ada-traditional-mate
  &:before
    content ada-traditional-mate
.ada-tray
  &:before
    content ada-tray
.ada-tube-glass-with-shine
  &:before
    content ada-tube-glass-with-shine
.ada-turnip
  &:before
    content ada-turnip
.ada-turnip-1
  &:before
    content ada-turnip-1
.ada-two-layer-birthday-cake-with-candle
  &:before
    content ada-two-layer-birthday-cake-with-candle
.ada-upsized-drink-with-straw
  &:before
    content ada-upsized-drink-with-straw
.ada-very-hot-drink-with-shine
  &:before
    content ada-very-hot-drink-with-shine
.ada-watermelon
  &:before
    content ada-watermelon
.ada-watermelon-slice
  &:before
    content ada-watermelon-slice
.ada-wheat
  &:before
    content ada-wheat
.ada-wine
  &:before
    content ada-wine
.ada-wine-bottle-in-bucket-with-two-glasses
  &:before
    content ada-wine-bottle-in-bucket-with-two-glasses
.ada-wine-crystal-cup
  &:before
    content ada-wine-crystal-cup
.ada-wine-glass
  &:before
    content ada-wine-glass

